[2018-08-18 15:31] CCMigration opened #1 "Add dwjson support for AM ressource owner password grant"

[2018-08-30 09:20] w6bedi opened #2 "Add "Alias" in the response overview of the SFCC-CI sanbox:list / sandbox"
It would be quite handy if we could include an ALIAS col in the response of the sfcc-ci sandbox:list command to show the alias there in the overview.

[2018-11-02 12:14] zlatinz opened #9 "NPM Audit Security Report"
There is one package that is a current dependency and cannot be automatically fixed using "npm audit fix"

                       === npm audit security report ===

                                 Manual Review
             Some vulnerabilities require your attention to resolve

          Visit https://go.npm.me/audit-guide for additional guidance

  High            Insufficient Entropy

  Packag

[2018-11-06 15:45] mettese opened #10 "Missing binaries in releases"
According to the readme the binaries should be located here:
https://github.com/SalesforceCommerceCloud/sfcc-ci/releases

However, it seems these are not (yet) available?

[2018-11-07 08:40] gmoulin opened #11 "Improve readme sections"
Hello,

some remarks from my experience trying to install sfcc-ci.
To say the least it's not good.

**"Configuration" section**
The snippets for the JSON are incomplete. They should show the whole JSON.

**"Installation Instructions" section**
I am on Windows and nothing works as expected.

1. no mention of the 2FA limitations for clone a repository by command line
2. the curl command line does no

[2018-11-07 22:14] davidwitt-demandpdx opened #12 "Getting "Network or Certificate Error" with Staging sfcc.instance.upload"
I am able to successfully run a site import to my sandbox using the same script.

1. I authorize to get a token
2. I zip up my site data
3. I start the upload with sfcc.instance.upload
4. I run the import with sfcc.instance.import

This all works properly on my sandbox with OCAPI data API and WebDAV permissions setup to match what is in the README.md for this repo.

When I switch to using a stagin

[2018-11-14 19:52] #12 closed, assigned to nobody

[2018-11-28 19:11] pankajgugnani opened #13 "Operation to patch sandbox is missing"
The swagger API has an option to patch sandbox that lets the TTL to be updated. This operation is missing from the sfcc-ci tool
![image](https://user-images.githubusercontent.com/42180724/49175864-853d8900-f317-11e8-9fff-ceef3a92cfbe.png)

[2018-12-18 11:22] #10 closed, assigned to tobiaslohr

[2018-12-18 17:12] #13 closed, assigned to tobiaslohr

[2018-12-21 11:38] #9 closed, assigned to tobiaslohr

[2018-12-27 22:18] dlebreuilly-itelios opened #14 "in programmatic API, callback for auth function has parameters in reverse order"
Hi,

In lib/auth.js, the api version of the auth method has a `callback(token, err)` signature instead of the standard error-first format `callback(err, token)`.
In addition, callback signature is not documented in the readme.
As a consequence, any developer with experience in node.js will get broken code at first try, and will lose time debugging.

Issue is located in this function call: [https:/

[2019-02-03 17:00] hnestmann opened #20 "Allow finer grained code upload"
cartridge level
code level

[2019-03-15 11:28] wundrian opened #22 "Remove or convert console output to JSON when --json is given"
When working non-interactively by calling the sfcc-ci program and specifying `--json`, for example like in the following case:
[code]
The output may not be _entirely_ json, for example when the authentication renewal kicks in and prints "Authentication succeeded" messages via calls to `console.info` to stdout.

This requires me to parse the stdout to figure out where the JSON object begins.

Can w

[2019-03-16 22:37] dlferro opened #23 "Auto-detect OCAPI Version"
Is there potential when selecting your instance to leverage the API version returned a separate call to /dw/meta/v1/rest/data?

[2019-03-19 11:58] wundrian opened #24 "sandbox.js: Handle unexpected error message gracefully"
Currently, sandbox.js expects two different objects on the response body (`error.message` and `message`) when the statuscode is above 400. At least the `error.message` property is documented on the CCDX API.

But when the API fails to honor it's contract or an intermediary responds with an unexpected error code the output from sfcc-ci is a rather non-intuitive "TypeError: Cannot read property 'mes

[2019-04-02 09:04] tobiaslohr opened #26 "Remove instance:save and instance:state:reset"
Instance state save and reset functionality is based on a Commerce Cloud beta feature introduced before B2C Developer Sandboxes have been made available. With the B2C Developer Sandboxes in beta today and soon to launch GA, this state save and state reset functionalities are no longer needed and shall be removed.

[2019-04-02 10:12] tobiaslohr opened #27 "Release asset oauth2-redirect.html missing"
Error: Authentication failed: Error: File 'C:\**\sfcc-ci\resources\oauth2-redirect.html' was not included into executable at compilation stage. Please recompile adding it as asset or script.

[2019-04-02 19:59] #24 closed, assigned to nobody

[2019-04-02 20:00] #26 closed, assigned to tobiaslohr

[2019-04-02 20:02] #11 closed, assigned to tobiaslohr

[2019-04-02 20:18] tobiaslohr opened #28 "Make linting part of tests on heroku"

[2019-04-03 21:30] #28 closed, assigned to tobiaslohr

[2019-04-10 09:27] tobiaslohr opened #29 "Make client:auth more robust when login url cannot be reached"
In some cases, when the login url of the authorization server (the Account Manager) cannot be reached, an exception is thrown and the command `sfcc-ci client:auth` does not gracefully print an error message but prints the stack trace to the console:

[code]

Suggestion is the check on the response object being available and fallback to the `err` message passed to the callback function of the reque

[2019-04-10 09:32] #29 closed, assigned to tobiaslohr

[2019-04-11 09:41] #27 closed, assigned to tobiaslohr

[2019-04-12 07:28] Andreiaotto opened #30 "Add upload to specific path in impex"
Add more capabilities to the upload to impex, be able to specify the path to be uploaded.

[2019-04-12 07:49] Andreiaotto opened #31 "Download code version"
For security reasons, we want to make sure the code we have in production is not changed manually.
For that, we want to be able to download the code version from webdav.

[2019-04-12 07:57] jjuanmendoza opened #32 "Incremental code push support"
@hnestmann @tobiaslohr
feel free to mark it as duplicate but this is what -to my view- we've concluded (After https://github.com/SalesforceCommerceCloud/sfcc-ci/issues/20 discussion):
2 types of support
- file detail level
using a kind of deploymentinfo.json file as parameter (created from SCM info as a preprocess before calling sfcc-ci) that keeps track of every single file (vs last deployed code

[2019-04-15 15:35] wundrian opened #33 "auth:renew should grant new access token in client_credentials mode"
Currently, to use `auth:renew` you have to have a refresh token, which is only issued on password grants, ie those where you supply username + password in addition to client id and secret.

When `renew` is called for a `client_credentials` grant, we should just create a new token with the AccountManager, which works just like the initial grant.

[2019-04-15 15:37] wundrian opened #34 "auth:renew should respect set alternative AccountManager url"
Currently, `auth:renew` calls `obtainToken` with no AccountManager override. So when one was initially set, `renew` will try to re-authenticate with the standard AccountManager.

[2019-04-16 10:04] jpuxanSoul opened #35 "Import result always OK"
I'm trying to import XML files into a sandbox. If the XMLs do not contain no error, everything is fine. The problem comes when they contain errors, because I'm unable to get anything that indicates that the import has failed.

I checked both the import() callback error parameter and the status of the job (sfcc-site-archive-import) that performs the import. But no error es reported at all. **The jo

[2019-04-16 14:23] #33 closed, assigned to nobody

[2019-04-16 15:40] #14 closed, assigned to nobody

[2019-04-26 20:39] jmatos opened #37 "auth:login not working"
Just tried using the MACOS version of the binary and when I tried the auth:login feature interactively, the browser page opened to the URL but no content was shown, the browser tools shows that there are a few 404 errors.

I also tried building the code using npm and tried that and got the same issue.

The errors in the browser console are below (using Chrome for MAC).

![2019-04-26_1537](https://

[2019-04-30 23:36] jmatos opened #38 "Error: mac verify failure"
I'm trying to test the upload (interactively) using 2FA but I'm getting the error: **Error: mac verify failure**.

I'm using the following command (I replaced sensitive areas with "xxxx")

[code]

I'm not sure why I'm getting this, the path to the .p12 file is correct and so is the passphrase.

[2019-05-01 17:59] #38 closed, assigned to nobody

[2019-05-10 09:19] osevastianovych opened #39 "Webdav upload returns empty err object"
https://github.com/SalesforceCommerceCloud/sfcc-ci/blob/8b4d513e4a82cfeeb77fe1129520faaf590d11c7/lib/webdav.js#L372
Hi @tobiaslohr , I'm trying to use the webdav api for creating a new task for site template upload. And now I can see that task ends with some error. But when I've checked the error it shows me {};
<img width="727" alt="empty_err_object" src="https://user-images.githubusercontent.com

[2019-05-10 13:44] #39 closed, assigned to nobody

[2019-05-10 13:48] osevastianovych opened #40 "Expose deleteFile method for external usage"
https://github.com/SalesforceCommerceCloud/sfcc-ci/blob/8b4d513e4a82cfeeb77fe1129520faaf590d11c7/lib/webdav.js#L67

Hi @tobiaslohr, I can see that you have nice method for deleting files on instance via webdav but we can't use it in our purposes. It will be nice to have such possibility as part of available webdav api.
So if it possible and you will have time for it please provide us deleteFile we

[2019-05-23 13:13] SGD1953 opened #41 "Add instance:export and instance:download command"
It would be great if `sfcc-ci` would allow to transfer one sandbox' state to another, therefore commands to run a site export & download it would be desirable.

[2019-06-26 15:23] pravngaur opened #44 "auth:login issue - error in console"
While trying to login using CLI, i am getting the error on the browser window that is opened as a redirect. Error got: "Resource not found"

When i enabled the debug while executing the command(using -D), i am getting the following error in console:

[DEBUG] Configuration loaded from /Users/pgaur/dw.json
Using client secret from dw.json at /Users/pgaur
[DEBUG] Authorize via Oauth implicit grant
[D

[2019-07-11 05:27] hnestmann opened #46 "Use promises and async/await"
Some modules are implemented using callback, which makes it hard to follow the order of execution when reading the code

[2019-07-16 10:20] tobiaslohr opened #49 "Refactor sandbox:get"
The sandbox command is currently the only one having a dedicated getter. This should be migrated to
[code]

_Originally posted by @hnestmann in https://github.com/SalesforceCommerceCloud/sfcc-ci/pull/47_

[2019-07-16 10:20] tobiaslohr opened #50 "Add Unit Tests for user management"
Add unit tests for user management files

_Originally posted by @hnestmann in https://github.com/SalesforceCommerceCloud/sfcc-ci/pull/47_

[2019-07-16 10:21] tobiaslohr opened #51 "Documentation for user management functionalities"
Readme.md contains references to overall functionality and all commands. These shoudl be updated to reflect user managment capabilities:
Line 36 Highlight the functionality
Line 398 add detailed command definition

_Originally posted by @hnestmann in https://github.com/SalesforceCommerceCloud/sfcc-ci/pull/47_

[2019-07-16 10:23] tobiaslohr opened #52 "Extract the polling logic to a separate function"
_Originally posted by @challmannsf in https://github.com/SalesforceCommerceCloud/sfcc-ci/pull/45_

[2019-07-17 11:34] tobiaslohr opened #53 "Ambiguous option -h for sandbox:get"
option `-h` not working for help text with sfcc-ci sandbox:get, as `-h`is used for local return of sandbox hostname. suggestion to remove local shortcut `-h` for command sandbox:get and only have `--host`

[2019-07-18 09:32] tobiaslohr opened #58 "Add CLI tests for cartridge:add command"
Add CLI tests for new cartridge:add command. See
https://github.com/SalesforceCommerceCloud/sfcc-ci/pull/48#pullrequestreview-263536304

[2019-07-30 00:14] pfrickcol opened #60 "Error: Unsufficient Privileges"
We are using the branch https://github.com/SalesforceCommerceCloud/sfcc-ci/tree/basic-user-mgmt and we have created a script to loop through a bunch of users and create their accounts and grant other user's permissions. The account creation portion is working but when trying to modify roles we get " DEBUG] {"errors":[{"message":"Cannot access com.demandware.am.common.model.Role bm_user for assigni

[2019-08-01 21:55] #60 closed, assigned to nobody

[2019-08-02 19:44] pfrickcol opened #61 "User Managment: role:list gets Account Manager Roles"
We are currently using the latest version of the user management branch. A very helpful enhancement that could be made the matches some of the other commands is to add `sfcc-ci role:list` defaults to displaying the available roles in Account Manager if no --instance is passed in. This would allow us to query what roles are available and utilize that output.  Would also be really helpful if you add

[2019-08-05 19:16] #37 closed, assigned to nobody

[2019-08-16 07:38] tobiaslohr opened #62 "Exploring available instances"
Adding separate feature request on behalf of @pfrickcol as raised in https://github.com/SalesforceCommerceCloud/sfcc-ci/issues/61:

[2019-08-16 08:38] #61 closed, assigned to tobiaslohr

[2019-09-04 21:12] pfrickcol opened #64 "Ability to remove a code version"
We currently have the ability to upload and activate a code version but not the ability to remove a non-active code version.

[2019-10-22 11:45] martin-dodo-hartmann opened #66 "Consume sandbox storage REST API in sfcc-ci"
Feature Request:
Consume recently exposed /sandboxes/.../storage API for sandbox:get command.

[2019-10-28 08:19] martin-dodo-hartmann opened #67 "Consume new Sandbox Aliases API"
At the beginning of november, there will be new APIs for creating and assigning custom sandbox aliases for local testing. Please integrate these in sfcc-ci.

[2019-11-01 13:01] tobiaslohr opened #69 "CLI tests broken"
CLI test scripts are broken, due to underlying API server changes.

1. Updating default sandbox TTL fails with exceeding value. Actual value to update to is 48, max supported is 24. Suggestion to update to 12.
2. Reading actual values from server for restoring fails as sandbox realm model changed and property `sandboxTTL` has moved to property `configuration`.

[2019-11-08 13:29] tobiaslohr opened #70 "Support interactive authentication for API key used in previous session"
`sfcc-ci auth:login` should support authentication flow for interactive user authentication (via Oauth implicit flow) and honour API key of the previous session. The CLI currently memorizes the API key already in the local client configuration.

Running the command `sfcc-ci auth:login` may read the memorized API key and start the Oauth flow to authenticate the user interactively. This allows users

[2019-11-12 12:56] #69 closed, assigned to tobiaslohr

[2019-11-12 12:56] #58 closed, assigned to tobiaslohr

[2019-11-12 13:46] #30 closed, assigned to tobiaslohr

[2019-11-12 16:16] tobiaslohr opened #73 "Code deployment to support activation of new code as single operation"
Usually code deployments are done in several steps, including

1. upload of the code as packaged zip archive to the instance,
2. followed by an unzip of the archive on the server resulting in an extracted folder containing the single code artefacts and
3. a deletion of the uploaded zip file

These steps are bundled together as a single CLI command `sfcc-ci code:deploy`.

The activation of the new

[2019-11-14 15:33] tobiaslohr opened #74 "Set up CircleCI action for CI builds on PRs to master"

[2019-11-19 11:00] tobiaslohr opened #75 "Retrieving detail realm usage information"
Sandbox API allows to pull detail realm usage information via `GET /realms/{realm}/usage`.

Task is to allow to pull that information via optional flag `--show-usage` for command `sfcc-ci sandbox:realm:list`, for example

[code]

[2019-11-21 09:12] #75 closed, assigned to tobiaslohr

[2019-11-21 09:14] #66 closed, assigned to tobiaslohr, martin-dodo-hartmann

[2019-12-09 09:50] #67 closed, assigned to martin-dodo-hartmann

[2019-12-09 10:03] #64 closed, assigned to tobiaslohr

[2019-12-19 11:16] #73 closed, assigned to tobiaslohr

[2019-12-19 22:36] tobiaslohr opened #81 "Allow optional code version name to be passed to code:deploy"
Allow optional code version name to be passed to command code:deploy which creates the code version as given explicitly instead of implicitly through top level folder(s) inside the deployed archive.

This allows more control over the actual code version creation and avoids the cartridges to be copied to a top level folder which is zipped and deployed.

[2020-01-21 12:07] Eneris opened #82 "Add support for dw.js file so comments and secure password storage can be used"
I would love to be able to comment settings out of the dw.json, store password in more secure way or use .env

[2020-01-22 05:16] rajiv-sachdeva opened #83 "How to run locally"
Using source code if I don't want to install sfcc-ci globally and run it locally using npm run sfcc-ci how do I do that ? It says sfcc-ci doesn't exists !

[2020-01-28 15:16] amezick opened #84 "Add project to github packages or npm"
I am trying to setup a GitHub action that will use build-suite to build my site.  Build-suite specifies this project as a github link in package.json.  GitHub actions can't get the correct permissions to access this repository.  The only work-around I have found is to fork this project into my GitHub Enterprise account and then change the build-suite package.json to reference that fork.  Instead,

[2020-01-31 12:43] tobiaslohr opened #85 "Local user creation on an instance has wrong confirmation message"
Local user creation via command `sfcc-ci user:create --instance <instance> --login <login> --user <details>` succeeds, but shows "undefined" in confirmation message:

[code]

[2020-02-03 11:34] fsilva-emakina opened #86 "Authentication failed using build suite"
This morning our builds (using the community build suite) started failing.
The error is:

[code]

The authentication key was added somewhat recently, and has been working correctly for a while now. Did anything change regarding authentication in this repo?

There is already an open issue in the build-suite repo https://github.com/SalesforceCommerceCloud/build-suite/issues/63

Not sure which repo i

[2020-02-03 19:15] Trimud opened #87 "client:auth with 2FA"
Hello,

I'm implementing CI tool that depends on sfcc-ci and everything works fine except that every time the script attempts to authenticate using `sfcc-ci client:auth [options] [client] [secret] [user] [user_password]` I have been prompted for 2FA authorization.

Is it possible to disable it for CI purposes?

Thanks

[2020-02-04 08:00] #87 closed, assigned to nobody

[2020-02-07 20:38] johnboxall opened #88 "`invalid_token`: Authorization errors with Sandbox API"
Hey folks,

**Thanks so much for this great tool!**

I'm scripting management of our on-demand instances and having trouble using the `access_token` returned by `sfcc-ci auth:client` to do it.

As I understand it, to allow my script to manage our On Demand instances, I must:

1. Create an API Key in Account Manager, setting appropriate scopes and noting its key and password as [per this article](h

[2020-02-10 19:00] aarondake opened #89 "WebDAV Library upload from CLI"
Hello Tobias!  Thank you for sharing this code and for helping the community by supporting it.  I was curious, are we able to upload to WebDAV Library folders from the CLI?

Each time I attempt this I receive a "WebDAV authentication failed..."  error.  When I run the `sfcc-ci data:upload --help` command I see this comment: "Currently supported top level --target is "impex".  I presume based on th

[2020-02-11 21:04] jmatos opened #90 "sfcc-ci auth:login opens browser but page never loads content"
I try the command sfcc-ci auth:login and it opens a browser with this url:

https://account.demandware.com/dwsso/oauth2/authorize?client_id=[CLIENT_ID REMOVED]&redirect_uri=http://localhost:8080&response_type=token

The page just has a message in top left corner "loading...." but nothing ever loads.

Any ideas?

[2020-02-12 08:08] w6bedi opened #91 "Add Sandbox API flag for "deleted" sandboxes to the list-command"
I'd like to select in the "sfcc-ci sandbox:list"-command if I also want to list already deleted sandboxes. It is provided as an option in the Sandbox API

[2020-02-13 15:00] tobiaslohr opened #92 "Support env vars for 2FA cert and passphrase"
Commands which support 2FA today utilize local args
[code]
to run auth with a client cert as 2 factor.

We want to support this in a more unobtrusive way by adding two new environment variables as follows:

[code]

The local arguments will still be supported and overwrite any environment vars when executing the command. If no local arg is present, a fallback to the env var is being done.

[2020-02-19 09:26] Trimud opened #94 "Sandboxes API support"
Hello,

do you plan to export JS API endpoints in lib/sandbox.js? Right now the toll works only with CLI and I can't seem to find a way to work with JS promises. I could probably make it work with https://github.com/sindresorhus/execa but it's not preferred.

Thanks

[2020-02-19 09:36] #44 closed, assigned to nobody

[2020-02-19 10:04] #91 closed, assigned to nobody

[2020-02-19 18:45] #51 closed, assigned to tobiaslohr

[2020-02-21 15:18] tobiaslohr opened #95 "Fix prototype pollution vulnerability"
See https://snyk.io/vuln/SNYK-JS-DOTPROP-543489

Suggestion is to upgrade dependency `conf` to a higher version

[2020-02-21 15:19] tobiaslohr opened #96 "Add new license"
Add license for open sourcing. https://github.com/salesforce/oss-template/blob/master/license_info.md for reference

[2020-02-25 08:47] tobiaslohr opened #97 "Add client secret encoding for client authentication"
With Account Manager deployments on Mon Feb 24th a breaking change has been introduced which may block API clients not being able to authenticate as the client secret may include non URL safe characters.

~~Proposal is to add a new env var `SFCC_AUTH_ENCODE_SECRET`. If set to `true` or `1` the client secret used for authentication will be url encoded before base64 encoding.~~

We will apply url en

[2020-02-26 09:47] #97 closed, assigned to tobiaslohr

[2020-02-27 22:32] #90 closed, assigned to nobody

[2020-02-28 21:22] #95 closed, assigned to tobiaslohr

[2020-03-04 09:09] #1 closed, assigned to tobiaslohr

[2020-03-04 09:10] #82 closed, assigned to tobiaslohr

[2020-03-04 16:30] matt-rose-salesforce opened #102 "Error: Project name could not be inferred. Please specify the `projectName` option."
I ran a fresh install of sfcc-ci today and found that there is currently an issue with the `conf` dependency where it requires `projectName` option if a valid package.json is not present in the directory where it is being run. You will see this error:

```Error: Project name could not be inferred. Please specify the `projectName` option.```

See this doc: https://github.com/sindresorhus/conf#proje

[2020-03-09 07:21] DenyVeyten opened #103 "Unescaped % as OCAPI client_id password"
Trying to use sfcc-ci client:auth command with password contained `%` character leads to the error:

`Authentication failed: URLDecoder: Illegal hex characters in escape (%) pattern`

Do not sure if this can be resolved on sfcc-ci side via proper password encoding.

[2020-03-11 10:29] #86 closed, assigned to nobody

[2020-03-12 06:43] #103 closed, assigned to nobody

[2020-03-16 14:53] #96 closed

[2020-03-18 10:02] #102 closed

[2020-03-18 22:37] ben-sfcc opened #108 "activate flag on code:deploy has issues when combined with certificate"
When I run
[code]
the deploy is successful but the subsequent activate is not.
[code]

I have the following relevant OCAPI permissions:
[code]

[2020-03-20 10:00] astound-ci opened #109 "Ability to override API_SANDBOXES_OPERATION_TIMEOUT"
There was a strange situation yesterday, request for sandbox creation took 41 minutes. And taking to account that API_SANDBOXES_OPERATION_TIMEOUT const is set to 10 minutes w/o ability to override - automated process failed w/o any error. Proposal is to add ability to override this const, additionally would be nice to have a reasonable error message in case default timeout exceeded.

Command used:

[2020-03-20 10:49] tobiaslohr commented on #108
Thanks for raising @ben-sfcc! I think the reason here is that either the `cert....` host name is not supporting PATCH requests at all or the cert is not properly passed to the subsequent PATCH request.

[2020-03-24 10:45] tobiaslohr commented on #108
We will most likely use a pragmatic approach and patch the passed host name from `cert.staging.web.mycompany.demandware.net` to `staging.web.mycompany.demandware.net` for the subsequent code activation.

Feedback @ben-sfcc ?

[2020-03-24 12:26] astound-ci commented on #109
@tobiaslohr, please make **API_SANDBOXES_OPERATION_TIMEOUT** at least 15-20 minutes, because now option `--sync` for sandbox creation is useless as it fails in 80% cases.

[2020-03-24 14:42] #74 closed

[2020-03-24 14:47] #85 closed

[2020-03-24 15:01] astound-ci commented on #109
In case it for any reason not appropriate to increase **API_SANDBOXES_OPERATION_TIMEOUT** to a greater value just return sandbox id which is still creating/starting so that it can be handled in any CI tool.

[2020-03-24 15:29] #108 closed

[2020-03-25 02:38] sholsinger commented on #109
As a workaround... @astound-ci you should be able to remove the `--sync` option and get the UUID back. Then you can have a script sit in a tight loop polling for the status to become 'created' or 'up' or whatever it says when a sandbox is created and running.

[2020-03-25 06:36] astound-ci commented on #109
Yeah Stephen, as you mentioned this is a workaround and not quite optimal as there will be many API requests sent, polling the status. Moreover we have a process that is bind to a created sandbox so than it can be assigned users and so on. And that process waits for a json file with initial data set.

[2020-03-25 10:14] tobiaslohr commented on #109
@astound-ci we will leave `API_SANDBOXES_OPERATION_TIMEOUT` at 10 mins and come up with a new env var to overwrite this. With that you can set it to 15 or 20 mins if needed.

[2020-03-25 10:16] astound-ci commented on #109
Thanks @tobiaslohr, that will help us much. When do you plan to release?

[2020-03-25 10:22] tobiaslohr commented on #109
Currently planned for 2.4.x release. We will most likely build and release v2.3.1 today, then start working on 2.4.x. Contributions are welcome :)

@astound-ci the sandbox id is included in the creation result in any case. In case of `--sync` mode, and the creation runs into the operation timeout, the message is containing the sandbox id already. See below for an example:

[code]

What exactly is

[2020-03-25 11:35] astound-ci commented on #109
@tobiaslohr we figured out how to overcome this error by redirecting stderr to stdout and wrapping to try/catch, all needed info is there.  But still would be nice to have ENV var for timeout override. Thanks

[2020-03-25 14:16] #109 closed

[2020-03-25 14:56] #89 closed

[2020-03-25 20:25] tobiaslohr commented on #84
@amezick now, that we have open sourced `sfcc-ci` as of version `v2.3.0` and made the repo public, can we close this issue?

[2020-03-26 10:31] tobiaslohr commented on #34
@wundrian is this still relevant?

[2020-03-26 15:22] awarberg opened #117 "Deploy code version2.zip failed (upload step): 403 (Forbidden )"
Having followed the step-by-step guide at https://github.com/SalesforceCommerceCloud/sfcc-ci#how-do-i-get-set-up I was able to run `sfcc-ci code:list` and get a successful response listing my code versions.

When I try to run `sfcc-ci code:deploy version2.zip` I get "Deploy code version2.zip failed (upload step): 403 (Forbidden )". I have checked that the API Client ID appears correctly in Adminis

[2020-03-26 20:03] tobiaslohr opened #118 "Code deployment with --activate flag broken"
Code deployment with --activate flag fails. Executing command

`sfcc-ci code:deploy code.zip --instance dev01.realm.company.demandware.net --activate`

fails with following result:
[code]
This is due to a change done for #108 in version `v2.4.0`

[2020-03-26 20:11] tobiaslohr commented on #117
Hi @awarberg, can you copy-paste your WebDAV client permissions here (IMPORTANT: remove your client ID before pasting). You most likely miss either write permission for your client id for the cartridges repo on your environment. I must be:

[code]

[2020-03-26 22:06] tobiaslohr commented on #83
@rajiv-sachdeva can we close this issue?

[2020-03-27 07:42] awarberg commented on #117
Hi Tobias,

These are my WebDAV client permissions on Staging:

    "clients":
    [{
            "client_id": "XXX",
            "permissions":
            [{
                    "path": "/impex",
                    "operations": [
                        "read_write"
                    ]
                }, {
                    "path": "/cartridges",
                    "operations": [

[2020-03-27 08:02] tobiaslohr commented on #117
The settings are correct. If this is staging, probably there is 2FA for code upload enabled on your staging instance?! In that case, you'd have to generate a certificate using the cert bundle provided via a support case and then use the `--certificate` and `--passphrase` flags with the `sfcc-ci code:deploy` command

[2020-03-27 08:31] #118 closed

[2020-03-27 08:36] awarberg commented on #117
Good point, I read that 2FA will be required on April 1st, on Monday! I have tried to check whether my Staging instance was configured but this setting does not exist under `Administration >
Global preferences > Security > Access Restriction > Code Upload`.

![image](https://user-images.githubusercontent.com/7944743/77737340-10af5300-700e-11ea-99d9-12c0bb18ea30.png)

Anyways, I tried using my cert

[2020-03-27 08:46] tobiaslohr commented on #117
Is there a chance you can run with `--debug` flag and paste the results here? You don't have to put the whole output, I'd be interested in the actual http request/response. Please remove any tokens or similar critical information from the text.

[2020-03-27 08:55] awarberg commented on #117
This is the debug output. Thanks for taking the time!

[code]

[2020-03-27 09:01] tobiaslohr commented on #117
When you use 2FA for code deployments to staging, you'd have to use a slightly different host name, which is `cert.staging.eu01.xxx.demandware.net`. Note, the `.` version of the host name is required.

[2020-03-27 09:08] awarberg commented on #117
It works, thank you so much for the help! :-)

I now get a successful response:
`Code archive version2.zip successfully deployed to cert.staging.eu01.xxx.demandware.net. You may activate the code by running `sfcc-ci code:activate version2 -i cert.staging.eu01.xxx.demandware.net`.`

[2020-03-27 09:10] tobiaslohr commented on #117
👍

[2020-03-27 13:25] tobiaslohr opened #121 "instance:export command to run an instance export"
For details see #41

[2020-03-27 13:44] tobiaslohr opened #122 "Add data:download command to download resources"
See #41 for details

[2020-03-27 13:44] tobiaslohr commented on #41
We are splitting this into two tickets for better visibility.

1. instance:export command to run an instance export #121
2. data:download command to download resources #122

[2020-03-27 16:54] awarberg commented on #117
I am running into a new issue when attempting to active the newly uploaded code version. I have checked and there are no IP-based access restrictions.

What could be causing code deployment to work and activation to fail immediately after?

[code]

[2020-03-27 20:15] tobiaslohr commented on #117
@awarberg your Data API settings are correct. The error is expected. The reason is, that technically only HTTP PUT requests are being limited on staging and require 2FA authentication. The 2FA authentication has to be done for the host `cert.staging.eu01.XXX.demandware.net`. The code activation however is technically a HTTP PATCH request, is not limited and thus does not require 2FA. It is not sup

[2020-03-27 20:57] awarberg commented on #117
It works using the normal host name! Thank you so much! Have a great weekend!

[2020-03-27 20:57] #117 closed

[2020-03-27 21:54] tobiaslohr commented on #117
You’re welcome! Same to you.

On Fri 27. Mar 2020 at 21:57, awarberg <notifications@github.com> wrote:

--
TOBIAS LOHR
Technical Architect Director | Program Architect
Commerce Cloud B2C Services | CSG EMEA Services

Salesforce
Leutragraben 2-4
07743 Jena, Germany
Mobile: +49-151-16215221

*Upcoming PTO:*

   - *April 10th - April 24th 2020*

*Upcoming Parental Leave:*

   - *June 24th - September

[2020-03-30 14:18] wundrian commented on #34
I'll need to retest, but the need hasn't gone away.

[2020-03-30 15:21] astound-ci opened #124 "Add ability to inject settings as CLI flag while creating a sandbox"
Would be great for automation to have an ability to override default metadata with altered metadata (ex. OCAPI settings). Proposal is to add new flag to below command:

`sandbox:create --sandbox-metadata path_to_metadata.json`

As example using SwaggerUI I can change some settings now but not via CLI tool. This adds additional complexity to automation scripts.

This is what I want to inject (to ge

[2020-03-30 19:33] gokaygurcan commented on #124
Hi,

`--sandbox-metadata` feels a little bit counter-intuitive. I expect to pass JSON string instead of JSON file path. Maybe allowing both might be a good option:
`--sandbox-metadata` for JSON string, and `--sandbox-metadata-path` for file path maybe?

I hope this makes sense.

Best,
G.

[2020-03-31 05:02] astound-ci commented on #124
Both variants fits our automation needs. Thanks.

[2020-03-31 14:16] tobiaslohr commented on #34
@wundrian Do you make use of the env var `SFCC_LOGIN_URL`? This is respected by `obtainToken`. I did a quick test, see below:

[code]

Feedback?

[2020-03-31 18:33] wundrian commented on #34
Good point. Our invocations go via the `-a <am-host>`, but I think we can work with environment variables.

[2020-03-31 22:47] csaaved opened #125 "Sandbox Creation Text Output"
First and foremost, thanks for the sfcc cli! I am new to salesforce and I think it's a pretty awesome tool to have.

I am working on using on Demand sandboxes and running into the following issue:

When I run the following command from the docs:

`SANDBOX=`sfcc-ci` sandbox:create <my-realm> -s -j`

 I viewed my local variable for SANDBOX, and I found the following text assigned to SANDBOX:

_`Usin

[2020-04-01 09:09] tobiaslohr commented on #124
Would you aim to expand the OCAPI settings / WebDAV client permissions for the same client ID as you use to remote control the sandbox (the client being authenticated the CLI with)? Or is this for another, second client id?

[2020-04-01 09:13] astound-ci commented on #124
I need to pass several ocapi objects with different clientID's
One to be used for sandbox management, and another used by developers, let's say this one:
`aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa`

[2020-04-01 13:33] tobiaslohr commented on #125
Hi @csaaved, thanks for the kudos and for raising this! You are right, specifying output `-j,--json` should only write JSON to the output.

I'd therefor treat this as a bug.

One question: which version of the CLI are you using? The latest version does require the realm to be passed as `-r,--realm <my-realm>` flag. Omitting this flag does attempt to pull the realm from a local `dw.json` file in th

[2020-04-01 16:47] csaaved commented on #125
@tobiaslohr

Thanks for the response!

I was running version 2.3.1. I just updated to 2.4.1.

Running the following command:
`SANDBOX = $(sfcc-ci sandbox:create --realm <my-realm> -s -j)`

yields the following error:

I can see on swagger the sandbox enters the 'creating' stage.
Adding the `-D` shows sfcc-ci is constantly pinging salesforce during this stage to see if sandbox creation is complete.

[2020-04-01 18:11] tobiaslohr commented on #125
I think, this is an issue with the bash script. Do you properly assign the output the command (`sfcc-ci sandbox:create --realm <my-realm> -s -j`) to the variable in the bash script and properly access the value afterwards?

[2020-04-01 18:35] csaaved commented on #125
@tobiaslohr
Yup! How embarrassing.

You are correct.

Thanks again!

[2020-04-02 11:28] #125 closed

[2020-04-02 12:01] #121 closed

[2020-04-02 12:26] tobiaslohr commented on #124
Suggestion:

[code]

* `--ocapi-settings <ocapi-settings-as-json>` optional, allows to pass OCAPI settings as JSON string
* `--webdav-settings <webdav-settings-as-json>` optional, allows to pass WebDAV client permissions as JSON string

**Note:** Both settings amend the settings passed to the sandbox for the API client used by the CLI, they will NOT replace them them. This allows that the CLI is s

[2020-04-02 14:08] astound-ci commented on #124
Great news, we'll try to make sure JSON string is correct on our end.

[2020-04-03 08:00] tobiaslohr commented on #34
I think respecting the alternative Account Manager host passed to `sfcc-ci client:auth` via `-a` flag, is not trivial. The setting is only visible to the current Node process running the command, this includes playing with `process.env.SFCC_LOGIN_URL` and setting the host. One option would be to persist the setting into the CLIs local configuration. That however, has the downside that it would be

[2020-04-03 14:35] tobiaslohr opened #129 "Remove -a,--authserver flag from client:auth"
We want to remove flag `-a, --authserver` from command `sfcc-ci client:auth` as it is not fully supporting auth renewals (see #34 for details).

We still support using an alternative auth server by using env var `SFCC_LOGIN_URL`.

This is an API change!

[2020-04-03 14:36] tobiaslohr commented on #34
I've created #129 for the removal of flag `-a,--authserver` and closing this one.

[2020-04-03 14:36] #34 closed

[2020-04-03 15:07] tobiaslohr opened #130 "Move client:* commands underneath auth topic"
We should group commands together on a per topic basis. There we anticipate to move the following commands:

[code]

They will be made available as new commands under topic `auth` respectively:

[code]

`sfcc-ci client:auth:renew:token` is not addressed by this move, as we will be removing it completely.

[2020-04-06 08:09] #50 closed

[2020-04-06 12:12] #124 closed

[2020-04-06 12:51] tobiaslohr opened #131 "Create package-lock.json"

[2020-04-06 13:00] tobiaslohr opened #132 "Low severity vulnerability upon npm install"
[code]

Suggestion to move to latest-6 release of mocha (v6.2.3)

[2020-04-06 13:24] #131 closed

[2020-04-06 13:24] #132 closed

[2020-04-06 21:46] tobiaslohr commented on #84
Closing as no activity and repo can be publicly accessed

[2020-04-06 21:46] #84 closed

[2020-04-06 22:39] lornadsilvasonos opened #134 "Error: The creation of a local Business Manager user isn't allowed with the current server settings."
Trying to use the following command to grant access to a user using

`sfcc-ci user:create --instance my-instance --login "my-user" --user '{"email":"jdoe@email.org", "first_name":"John", "last_name":"Doe", "roles": ["Administrator"]}`

but get error: The creation of a local Business Manager user isn't allowed with the current server settings.

What is going wrong here?

[2020-04-07 07:19] tobiaslohr commented on #134
Hi @lornadsilvasonos, user management is supposed to happen through Account Manager nowadays. That being said, the user record you attempt to create on your B2C instance fails, as it is against this policy. You may create a user record to grant fine grained roles on the B2C instance for a user, but the user must be bound against a user profile in Account Manager via the property `external_id`, whi

[2020-04-07 14:54] tobiaslohr opened #135 "Replace deprecated request package with alternative"
NPM package `request` has been deprecated. We should work to look out for suitable alternatives and start exploring them. One candidate might be `got` (https://www.npmjs.com/package/got), however alternative options are welcome.

[2020-04-07 15:06] tobiaslohr opened #136 "Adopt new processing APIs for index updates"
Salesforce B2C Commerce 20.4 comes with additional process APIs for search index updates (rebuild and incremental update) capabilities. Supported index types are `product`, `content`, `active data`, the following APIs are being made available and are subject for adoption as part of a new CLI command or set of commands.

[code]

This adds more capabilities in regards to a full CI/CD set up for B2C

[2020-04-07 16:21] lornadsilvasonos commented on #134
The user already exists in our Account Manager but does not have a local account on the instance. From what you have said, I tried the command and get the following error

`Error: An error occurred while decoding the request. There's a value constraint violation of property '$.email' in document 'user'.`

I am not sure what the error means over here. Could you let me know?

[2020-04-07 18:52] tobiaslohr commented on #134
Sounds like you are not passing the email property or a syntactical invalid value. Can you share the command including the values passed, specifically the JSON value passed for the `--user`? Please anonymise your values before passing them here!

[2020-04-07 19:55] lornadsilvasonos commented on #134
sfcc-ci user:create --instance <instance_hostname>  --login someid@sonos.com --user '{"external_id":"someid@sonos.com"}'

[2020-04-08 08:10] tobiaslohr commented on #134
Apparently the property `email` and also `last_name` are required in the user document. Also please note, that `external_id` must be the ID (more precisely the UUID) of the user in Account Manager. So, in your example, the command should look like:

[code]

The UUID of the user in Account Manager can be seen in Account Manager when navigating to the respective user in your org or via the CLI by us

[2020-04-08 11:33] bbdemaugere commented on #117
Hello,

Fist of all, thank you for your explanation and support here. It helped us a lot.

We have the direct next issue regarding 2FA with certificate and code upload. (Tell me if I have to open a new issue)

We want to use the `code:deploy` as a final step for our CI/CD pipeline. So our code tagged as release on our git is automatically deployed to our staging instance.

We can upload our code u

[2020-04-08 13:09] tobiaslohr commented on #117
@bbdemaugere `sfcc-ci code:deploy` works without a user being authenticated. That being said, you should use an API client to authenticate using it's client credentials only with

[code]

As there is no user involved it does not bring up 2FA in the authenticator app and thus allows you to run automations.

[2020-04-10 12:42] bbdemaugere commented on #117
Sorry for the delayed response and thanks for yours.

I did some tests and I have now a better understanding of the situation.

I were testing sfcc-ci with my personal client-id key and I did some configurations in the Account Manager to use it with the Swagger (1). I guess that why `client:auth` asked for 2FA.

With _Redirect URIs_ sets to `http://localhost:8080` it doesn't ask for 2FA anymore an

[2020-04-13 17:38] lornadsilvasonos commented on #134
This one really helped. Not that the account I used for login did not have Administrator role in the Account Manager but I was still able to create the user. Could we also update https://quip.com/fmfVACpMxK1J to reflect the addition of email and last_name in the command? Thank you once again.

[2020-04-14 07:02] tobiaslohr commented on #134
I've updated the Quip. Please note, that we have moved the Cheatsheet and Examples into the wiki at https://github.com/SalesforceCommerceCloud/sfcc-ci/wiki/Cheatsheet-and-Examples.

[2020-04-14 07:58] tobiaslohr commented on #117
One last thing: I highly suggest that you not use a client ID configured with a redirect URL for accessing critical resources on your B2C Commerce instances (e.g. through OCAPI settings or WebDAV client permissions) unless you explicitly want that. Reason is, that anyone who is in possession of the client ID may authenticate against Account Manager and then is able to execute commands against your

[2020-04-14 16:31] lornadsilvasonos commented on #134
Thank you. I will refer to the new wiki article. Once again, thanks for your prompt response.

[2020-04-14 20:13] kschaefers-engelhorn opened #141 "Authentication failes with a 45 character password"
Problem: When running `sfcc-ci client:auth` I received a 504 Gateway timeout with a password that had 45 characters. There were no special characters in the password - only letters and numbers. After a long seach and comparisons to colleagues where the command with the same version of sfcc-ci worked without any problems I changed my password to 32 characters and even included special characters. S

[2020-04-20 22:11] mayankshukla10 opened #142 "SFCC-CI deployment Error"
Hi,

One of the customers is facing an issue while trying to deploy the code to staging using SFCC-CI with 2FA. But they are getting below error:
Error: Network or certificate error
Error: An error occured. Try running the command again with -D,--debug flag.
[DEBUG] Error code: EPROTO, message: write EPROTO 4447045056:error:14094410:SSL routines:ssl3_read_bytes:sslv3 alert handshake failure:../dep

[2020-04-22 09:07] kschaefers-engelhorn commented on #141
After looking at this again and tying one more time it seems to me that the Authenticator App might have not have responded to the 2 factor authentication or so - I currently can not reproduce this and therefore I'll close the ticket and let you know in case I have a better description of how to reproduce the issue.

[2020-04-22 09:07] #141 closed

[2020-04-22 18:36] matt-rose-salesforce commented on #136
Hey @tobiaslohr thanks for making me aware of these new APIs. Do you know if this is documented anywhere? I don't see it in the [Global Jobs](https://documentation.b2c.commercecloud.salesforce.com/DOC1/index.jsp?topic=%2Fcom.demandware.dochelp%2FOCAPI%2Fcurrent%2FSystemJobs%2FGlobalJobs.html) documentation, so I am wondering if we need to follow up on that.

[2020-04-22 18:45] gabrielfreiberg commented on #136
@matt-rose-salesforce -- looks like it is in the [DOC3 version of the Global Jobs](https://documentation.b2c.commercecloud.salesforce.com/DOC3/index.jsp?topic=%2Fcom.demandware.dochelp%2FOCAPI%2Fcurrent%2FSystemJobs%2FGlobalJobs.html) documentation.

[2020-04-22 19:02] matt-rose-salesforce commented on #136
Thanks @gabrielfreiberg !

[2020-04-27 14:12] karsov-aiops opened #143 "instance:export --help provides an invalid example for export_units JSON"
Hello,

I have noticed the running:
`sfcc-ci instance export --help`
outputs an invalid example for the export units JSON.

[code]

Regards,
Kris

[2020-04-27 14:13] karsov-aiops commented on #143
also in the parameters section the following line is duplicated:
`-j, --json                 Formats the output in json`

[2020-04-27 14:33] karsov-aiops opened #144 "Allow JSON file to be passed as export units configuration for instance:export"
Hello,

It would be great to have an option to pass a configuration file for export units to the `instance:export`

Currently there is an option `--data '{"global_data": {"meta_data": true}}'`.

**Proposed solution**

Add an option `--data-file config.json` to be parsed and used for export units.

Regards,
Kris

[2020-04-30 03:36] appanp-tjs commented on #88
I am getting the following error, I do not think that there is anything wrong with the four input parameters to `sfcc-ci client:auth` command. How can I debug this issue? I have also tried with curl but same error.

        error: 'invalid_grant' }

[2020-04-30 19:22] cxq commented on #35
I got exactly the same issue.
res.StatusCode is `403` but `err` argument in callback is `null`

[code]

[2020-05-01 13:26] appanp-tjs commented on #88
Finally I could find the problem. Looks like you get this error when 2FA is enabled for Sandbox API automation user and there is no paired 2nd factor device, in the **primary organisation of the automation user**. In this case, the auth flow is redirected to the "Connect Salesforce Authentocator" page  when I tried to login using the Swagger Sandbox API app. Once I disabled the "Sandbox API Role"

[2020-05-04 20:06] lornadsilvasonos commented on #134
Hi,

I have been using the `sfcc-ci user:create --instance <instance_hostname> --login someid@sonos.com --user '{"external_id":"<uuid-of-user-in-accountmanager>", "email":"someid@sonos.com", "last_name":"<the-last-name>"}'`  successfully for about 2 weeks. This week I get an error when I try this command. `Error: Insufficient permissions. Ensure your API key has permissions to perform this operati

[2020-05-04 21:45] #134 closed

[2020-05-07 09:20] swink-rgb opened #146 "Terminate script for long running requests"
I had some cases where the `code:deploy` task did not finish in a clean way and had to be cancelled with Ctrl + C. With the debug messages enabled, I found out that the upload succeeded but there were some long running Unzip requests. The Infocenter mentions a timeout of 5 minutes, this might be the case here.
My ask is to abort the script when there is no response in this duration. Maybe you coul

[2020-05-08 02:56] chenliangborngroup opened #147 "<org> id or name? Where to get this value"
Hi there,
I have a question about what should I put in the <org>.. I tried the org id, org name, our hostname, but none works.. can you give me an example of where to get the <org>? Many thanks!!

This is my testing:
[code]

This is the instruction in the cheat sheet:

To create a new user in Account Manager for your org run:

$ sfcc-ci user:create --org <org> --login <email> --user '{"firstName":

[2020-05-08 02:59] #147 closed

[2020-05-08 03:00] chenliangborngroup commented on #147
I just test it out. It is neither the name or the id shown in the account manager.

[2020-05-08 05:08] jmatos opened #148 "instance:import error"
Hi,

I thought I'd try using the instance:import command to import a file but I keep getting this error:

**Error: Starting job "sfcc-site-archive-import" on mysandbox.demandware.net failed**

Any ideas? Does this feature not work on sandboxes?

Jorge

[2020-05-08 14:50] mittinti commented on #83
@tobiaslohr , the windows installer is not working neither the mac one. The steps are really confusing how to use this extension. Can you please elaborate more on the installation steps.

Ex :
1. when I run the .exe in windows it auto closes
2. In mac the installer cannot be installed as it say its not from trusted sources related error.

[2020-05-09 02:12] jmatos commented on #148
Turns out you need to include the file extension when you invoke the instance:import command -

I forgot the **.zip**

[code]

[2020-05-09 02:13] #148 closed

[2020-05-11 20:27] lornadsilvasonos opened #149 "Adding aliases"
When using `sfcc-ci sandbox:alias:add -s sbx_id -h www.abc.com ` I get a selection of three IP addresses to add to my hosts file. But when I use the command `sfcc-ci sandbox:alias:add -s sbx_id -h www.abc.com -j` I do not get the IP addresses that need to be added to my hosts file.

What is the solution here?

[2020-05-12 07:37] tobiaslohr commented on #83
@mittinti the windows binary is not an installer, but an executable for use at the command line. running that executable from the desktop does not make any sense. the mac executable is not using an Apple Developer ID signature, hence the warning for the installer on a mac

[2020-05-14 13:38] tobiaslohr commented on #147
@chenliangborngroup It is the org name, which is expected there for `--org <org>`. In order to see which orgs you have permissions for, you may want to use `sfcc-ci org:list` and use the org name from that list.

[2020-05-14 18:44] mittinti commented on #83
Sir, I know this is community service and free of cost.  But can you please make these statements in documentation clearly. I never understood these facts until you tell them out, made no sense to me.

Thanks for the reply and understanding

[2020-05-15 08:23] tobiaslohr commented on #83
@mittinti what exactly is not clear? Aren't the steps described in the readme not sufficient. If not, please let us know which ones.

[2020-05-15 11:33] kohlthaver opened #151 "client:auth is instantly loosing the authorization"
Hi,

I hope this is the correct place, I didn't find any forum in this project to ask for help.

I have some trouble with the client:auth command. I am running the prebuild .exe in a command shell file under windows. The authorization works fine if I provide user name and password. But I want to use it for automated use without triggering a mobile 2 factor auth. So I tried client:auth only with cl

[2020-05-18 11:43] mittinti commented on #83
The current README file for windows has only 2 steps. I have executed those steps and did not work for me. I have switched to node version which worked for me.

[2020-05-19 09:40] tobiaslohr commented on #149
Hi @lornadsilvasonos

I can't see a reason, why the IP addresses are missing in the result JSON string of this command. As you probably know, the idea of the `-j,--json` flag is only to provide an alternative, machine readable output of a command. The absence of the IP addresses in this case has no deeper meaning and must be used the same way as stated in the docs of the command.

[2020-05-19 09:41] tobiaslohr commented on #149
@martin-dodo-hartmann Is this something you can add?

[2020-05-19 09:55] tobiaslohr commented on #83
@mittinti  I'm not a Windows expert. Do you want to share any error message or suggestion on additional steps if required? Then we can adjust the readme. Or - even better - you submit a PR with the steps needed from your point of view. Thanks much!

[2020-05-19 09:57] martin-dodo-hartmann commented on #149
We will not get to it in the near future, but @lornadsilvasonos if you want, feel free to create a PR.

[2020-05-20 04:02] venkataraoetg opened #152 "Issue while activating code version"
I'm able to create a code version on a staging instance but not able to activate the code version. I'm getting "certificate error" when I try to activate the deployed code version.

**sfcc-ci client:auth $API_KEY $API_SECRET --renew**

**sfcc-ci code:deploy FUN_SHOP_$CODEBUILD_BUILD_NUMBER.zip -i $SFCC_INSTANCE_NAME -c $CODEBUILD_SRC_DIR/funimation.p12 -p $P12_Password**

**sfcc-ci code:activate F

[2020-05-22 19:22] rajiv-sachdeva opened #153 "sfcc ci deploying to default sandbox with/without dw.json"
Facing interesting issue..While using sfcc-ci for deployment, despite not having dw.json file, it is deploying to some sandbox. From where it is picking up hostname ?

WKMIN6936078:~ usr $ sfcc-ci code:deploy docs.zip -D
**[DEBUG] No dw.json found in /Users/usr**
REQUEST { baseUrl:
   'https://zzrh-xxx.sandbox.us01.dx.commercecloud.salesforce.com',
uri: '/on/demandware.servlet/webdav/Sites/cartrid

[2020-05-25 13:02] rajiv-sachdeva commented on #153
Found the issue... every instance I am either spawning or starting/stopping/configuring, it is keeping the configuration in below file. Clear this or remove this file if you want to get rid of this issue.

$HOME/Library/Preferences/sfcc-ci-nodejs/

[2020-05-25 13:02] #153 closed

[2020-05-25 13:28] tobiaslohr commented on #88
@johnboxall can we close this ticket?

[2020-05-27 19:19] tobiaslohr commented on #152
When you activate the code version with:

[code]
please make sure, that `$SFCC_INSTANCE_NAME` does not carry the cert version of the host name, e.g. `cert.staging.something...`, but `staging.something...` or `staging-something...`

[2020-05-27 19:29] tobiaslohr commented on #151
Hi @kohlthaver,
which commands to do plan to run the automation for? If it's one of the sandbox related commands `sfcc-ci sandbox:*` running the auth with only the client credentials will not work today, as the sandbox API (subsequently the sandbox commands) expect an oauth grant type which includes user information. That may either be the implicit flow which is done by `sfcc-ci auth:login` (if th

[2020-05-27 19:31] tobiaslohr commented on #142
Hi @mayankshukla10,
is the cert (and passphrase) working if using another client to deploy code to staging?

[2020-05-28 03:38] venkataraoetg commented on #152
I was able to resolve the issue. The issue was due to SSL certificate strict validations on staging. I have bypassed it from dw.json file & was able to trigger build successfully.

Thanks!

[2020-05-28 03:38] #152 closed

[2020-05-28 14:58] wundrian commented on #97
Looks like AM reverted their change, at least I can authenticate with my special characters password via curl but not via sfcc-ci.

[2020-05-28 15:17] tobiaslohr commented on #97
@wundrian I can still run an auth with API client credentials containing special non-URL safe characters in the secret

[2020-05-28 21:28] anigandhe commented on #147
Thanks. I was trying that even before reading this thread. But I keep getting
Error: Ambiguous options. Pass either -o,--org or -i,--instance.

I am on windows and using sfcc-ci-win exe

My command is as follows. please note that my orgnization has space in the name
sfcc-ci-win user:create --org "org name" --login fname.lname@org.com --user '{"firstName":"firstname", "lastName":"lastname", "roles"

[2020-05-29 03:28] anigandhe opened #154 "user:create Error - Ambiguous options. Pass either -o,--org or -i,--instance"
Hello I am getting below error while creating a new user in Account Manager
Error: Ambiguous options. Pass either -o,--org or -i,--instance.

I am on windows and using sfcc-ci-win exe

My command is as follows. please note that my orgnization has space in the name
sfcc-ci-win user:create --org "org name" --login fname.lname@org.com --user '{"firstName":"firstname", "lastName":"lastname", "roles":

[2020-06-02 08:52] tobiaslohr commented on #147
@anigandhe the error `Error: Ambiguous options. Pass either -o,--org or -i,--instance.` is returned, in case you don't pass a value to `--org` or `--instance` or if you pass a value to both at the same time (non valid use case).

can you try quoting your value like this:

`sfcc-ci user:create --org 'my org name' ...`

[2020-06-02 19:26] AndersonDaSilvaOSF opened #155 "sandbox.js line 471 ReferenceError: body is not defined"
Inside lib/sandbox.js, line 471 you will get a **ReferenceError: body is not defined** because you are trying to access a variable named body that does not exist. It should be res.body

[2020-06-04 07:10] tobiaslohr commented on #154
Hi @anigandhe, you've posted this already and I've replied there at https://github.com/SalesforceCommerceCloud/sfcc-ci/issues/147#issuecomment-637394272:

[2020-06-04 07:23] tobiaslohr commented on #155
True, thanks for the hint @AndersonDaSilvaOSF. Do you plan to submit a PR to fix this?

[2020-06-08 16:42] HeidiRechek commented on #142
I have this issue also. I was able to upload code to our 2FA environment by running manual commands from the Jenkins slave server. When I add certificate to jenkins and attempt automation, I get:
sfcc-ci code:deploy -D version2.zip -i cert.staging.web.****.demandware.net -c **** -p ****

[DEBUG] No dw.json found in d:\jenkins\workspace\Test_jobs\Deploy_to_PODs

REQUEST {

  baseUrl: 'https://cert.

[2020-06-09 07:34] astound-ci commented on #155
@tobiaslohr  I got this error today while creating a sandbox:
`/snapshot/master/lib/sandbox.js:471
                    formatError(body.error, res.statusCode)));
                                ^
ReferenceError: body is not defined
    at /snapshot/master/lib/sandbox.js:471:33
    at ensureValidToken (/snapshot/master/lib/ocapi.js:94:9)
    at Request._callback (/snapshot/master/lib/ocapi.js:148:9

[2020-06-09 10:14] tobiaslohr commented on #144
Hi @karsov-aiops, I like the idea of passing the export config as a file. Do you plan to contribute a PR for this?

[2020-06-09 10:26] karsov-aiops commented on #144
Hi @tobiaslohr ,

I might create a PR for that, but not sure when I will have spare time.
Maybe in the following month.

[2020-06-09 10:35] #155 closed

[2020-06-11 13:30] gokaygurcan opened #159 "GitHub Actions"
Hi,

It'd be really nice if we have this package as a GitHub Action. So that we could do something like:

[code]

I don't know, this might not be a good example and might not even work, but should be enough to understand the idea.

[2020-06-12 08:51] tobiaslohr commented on #159
Hi @gokaygurcan, thanks for the proposal, I like the idea. Can you share some more thoughts about details you'd like to see for the Github Action itself?

[2020-06-12 13:17] dmersiowsky opened #161 "Javascript API: Code Version activation not triggering"
Code activation through the Javascript API does not seem to trigger while the callback doesn't get an error.

Calling this API:

[code]

[2020-06-12 13:22] dmersiowsky commented on #161
Looks like sfcc-ci is throwing an error itself:

[code]

[2020-06-15 14:52] ralgh opened #162 "Request for sandbox:create Time To (Stop?) option."
Currently when creating a new on demand sandbox there is no option to assign an amount of time for a sandbox to be flagged as inactive and therefor be stopped. Sandbox owners need to manually stop a sandbox to throttle it down to burn the .3 credits per minute. Now understanding this is not necessarily in the financial interest of SFCC to provide this functionality I do believe it is something tha

[2020-06-16 12:26] tobiaslohr commented on #161
@dmersiowsky can you verify, if you are running into either https://github.com/SalesforceCommerceCloud/sfcc-ci/blob/master/lib/code.js#L415 or https://github.com/SalesforceCommerceCloud/sfcc-ci/blob/master/lib/code.js#L419 condition? In that case, the callback does not get an Error passed

[2020-06-16 12:37] tobiaslohr commented on #162
Thanks @ralgh for raising the request. The request makes definitely sense. The CLI tool itself provides only a small layer of business logic on top of the existing API (e.g. the sandbox API). We can expose a new command or enhancements of existing commands, if the APIs expose this functionality. A new functionality, like the one you've proposed would therefore first be made available in the sandbo

[2020-06-16 12:37] tobiaslohr commented on #162
@w6bedi FYI

[2020-06-22 13:49] ralgh commented on #162
OK Thanks @tobiaslohr, I'll psot my request on the Sandbox API Chatter Group.

[2020-06-24 18:33] ngaddipati33 opened #164 "Issues while listing and creating SFCC Users Through sfcc -ci"
Issues while trying to list and create Users Through API

Any help on this would be very useful

./sfcc-ci-macos org:list - This is working fine

**Listing Users failing**

1) List of users in Account Manager (in org not in instance) seems to fail:
$ ./sfcc-ci-macos user:list --org (Org Id XXX)

**Error: Authentication invalid. Please (re-)authenticate by running ´sfcc-ci auth:login´ or ´sfcc-ci c

[2020-06-25 22:21] taehyunlim commented on #164
Expired auth tokens cause validation to fail. As the error message suggests, you will need to re-authenticate by running `sfcc-ci auth:login` or `sfcc-ci client:auth` depending on your auth method.

[2020-06-26 10:05] sftschaerff commented on #164
Hi @ngaddipati33,

as written by taehyunlim, please try to re-authenticate first and then run `sfcc-ci user:list`.

Best regards
Tobias

[2020-06-30 13:59] dmersiowsky commented on #161
Didn't debug through that yet but I can confirm that the code version is not yet active and it doesn't get activated either.

[2020-07-01 03:47] Makayez commented on #164
It doesn't seem to be a expired auth as I can continue getting a user list - just user:create at the Account Manager / Org level seems to trigger the message.  I can add at the instance level too.

[2020-07-01 19:43] Dandandans opened #166 "Add support for Homebrew installation"
Many developers, including myself, use [Homebrew](https://brew.sh/)(macOS, Linux, Windows 10 Subsystem for Linux) to manage and install applications.

Have you considered adding `sfcc-ci` to Homebrew? Installation would be as easy as running `brew install sfcc-ci`.

[2020-07-02 09:28] sftschaerff commented on #164
Hi @Makayez,

to get a deeper understanding of the problem, I need more informations. Please answer the following questions:
- What authentication method have you used `sfcc-ci client:auth` or `sfcc-ci auth:login` ?
- In Account Manager do you have the permissions to create a user in the org or in the instance?

Thank you and Best regards
Tobias

[2020-07-02 09:31] sftschaerff commented on #166
Hi @Dandandans ,

thank you for your input, but for now this tool is supposed to be used only as a command line interface.

Best regards
Tobias

[2020-07-02 12:07] Dandandans commented on #166
@sftschaerff a CLI is the perfect use case for Homebrew (native applications are installed through Brew Cask). For example, here are some common CLIs that have a Homebrew installation option:

[code]

[2020-07-02 17:00] astound-ci opened #167 "instance:export add option to overwrite existing site export if it exists"
Currently `sfcc-ci instance:export` does not have a flag to overwrite existing site export. Here is the error message I got:

[2020-07-02 16:51:41.744 GMT] INFO SystemJobThread|1896191900|sfcc-site-archive-export Executing job...
[2020-07-02 16:51:41.772 GMT] INFO SystemJobThread|1896191900|sfcc-site-archive-export|SiteExport Executing step [SiteExport] for [Organization]...
[2020-07-02 16:51:41.7

[2020-07-03 06:08] Gektorian opened #168 "Error on sandbox:realm:list"
When I execute `sfcc-ci sandbox:realm:list` I'm getting the following error:
[code]

[2020-07-06 08:18] sftschaerff commented on #167
Hi @astound-ci,

thank you for your input. Currently this behaviour is expected. The following quick fixes might help you:
- delete the old file via Webdav or
- using a timestamp in the name of the file.

Best regards
Tobias

[2020-07-06 09:18] sftschaerff commented on #168
Hi @Gektorian,

I have the following questions regarding your error message:
- Do you see any other relevant message or error in your terminal?
- Are you properly authenticated?
- Is your Account Manager User assigned to any instance (you can check that in controlcenter)?

Best regards
Tobias

[2020-07-09 11:32] astound-ci commented on #167
OK, gotcha. Will handle that via file removal on a WebDAV.

[2020-07-09 11:32] #167 closed

[2020-07-10 07:09] dmersiowsky commented on #161
Looks like we're calling `new Error(null)` in https://github.com/SalesforceCommerceCloud/sfcc-ci/blob/master/lib/code.js#L425.

I'll investigate.

[2020-07-14 03:56] Gektorian commented on #168
Hi Tobias,

The issue behind this error was that I did not have enough permissions defined in the control center. After I got more permissions in the account manager, issue was solved.

Should we extend login in the sfcc-ci and put try/catch with the error message to validate permissions in the control center?

[2020-07-21 23:06] walter-foulkes commented on #164
I have this same issue using client:auth

[2020-07-22 07:18] sftschaerff commented on #164
Hi @walter-foulkes,

can you please try to use the command
`sfcc-ci user:list --org xxxxxxxxxxxxxxxxxxxxxxx`

What is the result here?
Please keep in mind to use the exact same ID, which got returned from the command
`sfcc-ci org:list xxxxxxxxxxxxxxxxxxxxxxx`.

Best regards
Tobias

[2020-07-22 07:21] sftschaerff commented on #168
Hi @Gektorian,

I'm glad that the issue got solved.
I will take your idea with me and think about it.

Thank you for the input!

Best regards
Tobias

[2020-07-22 07:24] sftschaerff commented on #162
As the issue seems to be solved, I will close it.

[2020-07-22 07:24] #162 closed

[2020-07-22 07:25] #168 closed

[2020-07-22 07:26] sftschaerff commented on #154
As the issue seems to be solved, I will close it.

[2020-07-22 07:26] #154 closed

[2020-07-22 15:16] walter-foulkes commented on #164
I did try this.

Thanks,
Walter Foulkes

Senior Systems Engineer
DCPI Shared Services
1200 N Grand Central Avenue
Glendale, CA 91201-2426
E-mail: walter.foulkes@disney.com<mailto:walter.foulkes@disney.com>
W 818.931.2342 | M 817.917.9563

From: sftschaerff <notifications@github.com>
Reply-To: SalesforceCommerceCloud/sfcc-ci <reply@reply.github.com>
Date: Wednesday, July 22, 2020 at 12:19 AM
To: Sa

[2020-07-23 19:16] walter-foulkes commented on #164
is there any traction on this issue?

[2020-07-24 07:34] sftschaerff commented on #164
Hi @walter-foulkes,

I'm currently clarifying the issue and I will let you know here, once I have an answer.

Regards
Tobias

[2020-07-24 08:01] sftschaerff commented on #164
Hi @walter-foulkes,

does your account manager user have the role "account admin"? You need this role to perform user-related actions in account manager.

Regards
Tobias

[2020-07-29 00:01] walter-foulkes commented on #164
I would like to take the time to post what I found to get past this issue.
1. you need the API configured along with your user... these are completely sepererate but both required for the dw.json to auth properly to the org. Also if you have multiple instance leave out the hostname.
{
    "client-id": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
    "client-secret": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
    "use

[2020-07-29 00:02] walter-foulkes commented on #164
thx Tobias

[2020-07-29 06:50] sftschaerff commented on #164
Hi @walter-foulkes,

I'm glad to hear that the issue could be solved.
Thank you for your input and the script, you've provided.

As the issue is solved, I will close it. All comments and your script will still be accessible from the issue tab.

Regards
Tobias

[2020-07-29 06:50] #164 closed

[2020-08-05 06:28] Gektorian opened #170 "Javascript sfcc.instance.import callback function with data as of cli"
When we use CLI to import data zip we are getting comprehensive data as a response to the action. In the Javascript version callback function only manages errors and does not return status of the job, link to log files, or other data which is showed by CLI version of the same action.

Did I miss the way how from the callback function get the same level of data as from console version or such funct

[2020-08-10 17:04] sftschaerff commented on #170
Hi @Gektorian,

the CLI tool is using the exact same methods as one can use with javascript.
With the command `sfcc-ci instance:import` you should see a job ID, which you can use as input parameter of the command `sfcc-ci job:status` to get informations about your job.

I hope this help!

Best
Tobias

[2020-08-11 12:33] ndamania-lilly opened #171 "sslv3 alert handshake failure:c:\pkg-fetch\precompile\node\deps\openssl\openssl\ssl\record\rec_layer_s3.c:1544: SSL alert number 40"
Hello. We've gone through all the steps listed on the various KB articles.

However after creating the cert and export password for that cert, when we use the domain cert.staging.na01.YYY.demandware.net., the deploy step always fails with this error

------------------------------------------------------------------------------------------
Error: Network or certificate error
Error: An error occure

[2020-08-12 01:26] Gektorian commented on #170
Hi @sftschaerff, when I checking the documentation I only see that callback function will work only with "errors":
![image](https://user-images.githubusercontent.com/3693219/89964739-f3f67d80-dc85-11ea-9ae4-1bd725ee449d.png)

Should I assume that I can OOTB use extra input parameters of the callback function as:
[code]

[2020-08-12 07:26] sftschaerff commented on #170
Hi @Gektorian,

I just had another look at the code and here is what I found:
When you use the upload method, the import file is directly uploaded to a Commerce Cloud instance, it's not done via a job.
When you use the import method, the 'sfcc-site-archive-import' is triggered, to import the uploaded archive.

So only with the import method you might receive job informations. The call could look l

[2020-08-12 07:27] Gektorian commented on #170
I will work on my solution with this information in mind. Thanks a lot!

[2020-08-12 07:27] #170 closed

[2020-08-17 13:11] sfelius opened #172 "List sandboxes for specific realm"
Currently, when running `sandbox:list` a table with all sandboxes for all realms a user has access to is returned. This list can grow substantially when working with multiple customers.

It would be nice if we could add a `--realm` parameter that would only return a table of sandboxes for the specified realm:

`sfcc-ci sandbox:list --realm bbsv`

[2020-08-19 13:23] clstopher opened #173 "DEPTH_ZERO_SELF_SIGNED_CERT deploying code to staging instance (with 2FA bundle cert)"
Hi - I'm performing some updates to a build process for code deployments to utilize an API Client instead of a BM username/password (in preparation for the upcoming UA requirement).

I have a build that has been working for quite some time using the build-suite to build, upload, and activate the code, which has been using the BM user account for the upload step and the API Client for the activatio

[2020-08-31 15:57] jjuanmendoza commented on #32
https://github.com/SalesforceCommerceCloud/sfcc-ci/pull/174/commits/b61bd25ce44a9093f10cc0da863065faf90e57ed
thanks @jbachelet

[2020-08-31 15:58] #32 closed

[2020-09-01 15:24] jlbruno commented on #172
I came here to post the same thing - as a partner, we get quite a big list of returned sandboxes and hard to parse out just what I care about.

[2020-09-01 17:42] jlbruno opened #175 "sandbox:realm:list help examples are incorrect"
Current examples when using the `--help` flag on `sandbox:realm:list` are:

[code]

They should be
[code]

PR in progress

[2020-09-03 14:12] jlbruno opened #178 "sandbox:create returning json multiple times"
Running the sandbox:create command and looking at the json being returned - it seems to be returning the json 3 times for the 1 sandbox creation.

`sfcc-ci sandbox:create -r xxxx -t 1 -j -s`

Here's what I see returned this morning - edited to remove realm data and sb id, but the sb ID was the same.

[code]

[2020-09-03 20:09] Trimud commented on #151
Hi @tobiaslohr,

I'm following your suggestion for creating a user with `Sandbox API User` role. This would work for ODS (On-Demand Sandboxes) but what could we do if we want to skip 2FA for CI/CD tools with build suite? The user still needs Business Manager Administrator role for this and right now all my Github Actions using `sfcc-ci client:auth` are failing.

Thank you in advance

[2020-09-04 17:00] astound-ci commented on #178
@tobiaslohr same behaviour here...
**--sync** option passed cause resulting JSON output to be invalid.

[2020-09-05 05:27] astound-ci commented on #178
@wundrian , yes it happens always whenever --sync option passed.
`./sfcc-ci-macos sandbox:create --sync --realm zzrk --ttl 1
Creation of new sandbox 009 for realm zzrk finished (288037 ms). Sandbox id is b56049c6-4745-4abc-9fa3-a74d9acf9481, status of sandbox is started. You may use `sfcc-ci sandbox:list` to check the status of the sandbox.
Creation of new sandbox 009 for realm zzrk finished (2882

[2020-09-08 14:30] sholsinger commented on #166
@Dandandans At least it is published as an NPM module. So for now you can work around this by just doing: `npm install -g sfcc-ci`.

[2020-09-29 12:40] JuliaJacobUbi opened #180 "WebDAV connectivity: sfcc.webdav.download ?"
I saw that you've developed `sfcc.webdav.upload` but `sfcc.webdav.download` is not available, is it something planned on a roadmap or not at all ?

Thank you in advance

[2020-10-05 21:29] saipavwan opened #181 "Problem with CLI commands due to implementation of MFA."
Hi we are facing an issue with SFCC CLI commands after we implement MFA for Account Manager. We are trying to get all the users list using command **sfcc-ci user:list --json -c 5**  .So when script was on fly we are getting a pop up to the mobile for  account login every time so scripts getting failed due to time outs. Can you guys suggest something to overcome this?
Thanks in advance.
 - Sai Pavw

[2020-10-07 17:03] Rohith13 commented on #181
Could you check to see whether the AM user you authenticate with has a role assigned, which requires 2-FA ?

In order to pull the users automatically you may authenticate an API client (not a user) and grant this API client the role required to access users in your AM org (the Account Administrator role)

Can you try this and let me know if you are still facing any issues ?

[2020-10-14 11:09] NicoloMenandroDiana opened #182 "MFA and sandbox APIs"
Hi,

I'm trying to automate the "sfcc-ci sandbox:stop" but the authentication using sfcc-ci client:auth $CLIENT_ID $SECRET $USER $PASSWORD fails.
The user I'm trying to authenticate doesn't have a device paired and has the right Sandbox API permissions and is enabled.

Follow the authentication response:
`{
  response: {
    debugId: 1,
    headers: {
      date: 'Wed, 14 Oct 2020 10:33:28 GMT',

[2020-10-28 20:41] macleodg commented on #182
We are also seeing this. All of the other suggestions I can find are for folk to remove 2FA from the user designated for CLI sandbox actions, but that is no longer an option.

[2020-10-28 21:08] Trimud commented on #181
Hi @Rohith13,

I see only two options to assign role to an API key:
- Salesforce Commerce API
- SLAS Organization Admin

I have enabled both and set MFA only for users with Business Administrator role inside this organisation but I'm still being asked to approve the login request when using sfcc-ci.

[2020-10-29 16:31] macleodg commented on #182
@NicoloMenandroDiana - @tobiaslohr got back to me via the sfcc-ci slack channel with:

"the user you use to authenticate for automation use of the CLI must only have the Sandbox API User role. this role you’d have to deactivate 2FA for in your account manager org"

I'm going to have to look into if our org can/wants to modify our 2FA settings to allow for automation around sandboxes.

[2020-11-12 01:19] EvilJordan commented on #178
The easiest solution, since I assume you're piping it through `jq` is to "slurp" all responses into an array, then process only the first element:

`... | jq -s '.[0].key'`
-s is for slurp

[2020-11-12 03:39] Gektorian opened #188 "sandbox:create with sync return 2 json objects"
Hi sfcc-ci team,

[code]
returning 2 almost identical JSON objects (instead of one) and only time in milliseconds is different there. Example:
[code]
Because of this issue, commands (bellow) are not working, as SANDBOX_HOST now is 2 values in different rows with the same value:
[code]
Visual evidence:
![image](https://user-images.githubusercontent.com/3693219/98892326-73912400-24e3-11eb-8851-9598f

[2020-11-12 03:41] Gektorian commented on #188
As a workaround @EvilJordan also suggested to use `sfcc-ci sandbox:create --sync --json | jq -s -r '.[0]'` while fix is not in place as of yet.

🌮  for that 🥇

[2020-11-12 21:21] sholsinger commented on #149
Perhaps #187 helps with this issue in a tangential way?

[2020-11-20 13:59] amahe opened #189 "Auth client not possible after password changed"
Hi sfcc-ci team,

We want to use unified account for service account utility (application ones) in order to call BM instances  shop apis, in order to have the benefit of only one login and one password.

So i wanted to first not use access keys, and asking myself how to change password from my account.
Everything works fine, but once the password changed, cannot login anymore.
I then need to reset

[2020-11-21 01:52] z1haze opened #190 "unable to renew token via js api"
There is current no way to reauthenticate via the js api. For long running jobs when polling, the token expires and just repeatedly console.errors() the message that the auth is not valid, but it does not actually return a callback error, or response, or literally anything. it just does nothing.

How are you supposed to renew a token via the js api? The auth function in auth.js does not provide a

[2020-11-21 01:54] z1haze commented on #190
The use case I have is calling jobs.status and getting an invalid token response from the ocapi.ensureValidToken method. This method does not return an error or response as a callback, it just indefinitely sits there. because it lands on line 60 of ocapi.js

[code]

[2020-11-25 20:52] Trimud commented on #159
Hi @gokaygurcan, you may want to consider https://www.npmjs.com/package/execa

Or what I did was to clone the repo using "actions/checkout@v2", running `npm install` and after this `npm link`.
After this you can use `sfcc-ci` as you are in a terminal.

[2020-11-26 00:41] gokaygurcan commented on #159
I think with this holiday season and low amount of releases, I can take a look at this and try to make it work. Stay tuned.

[2020-12-04 12:21] karsov-aiops opened #192 "ensureValidToken does NOT invoke the success callback in all cases"
Hello,

I am using the following code to upload a code version within a grunt task:
[code]
**The first step:** Getting a valid token works as expected (if the client_id and the client_secret are correct a token is returned, otherwise it fails to the .catch())

However if the client_Id is not configured in the BM WebDav settings the following error appears:
[code]

which comes from: `sfcc-ci/lib/oc

[2020-12-06 06:45] aseth8 commented on #142
how did you resolve this error?

[2020-12-08 22:03] brett-broadwell opened #195 "Code upload failing using sfcc-ci JavaScript API"
Error is: Error: Deploy code C:\temp\version1.zip failed (upload step): 500 ().
OCAPI and WebDAV permissions appear to be correct. Attempting to upload code to a sandbox.

OCAPI settings

{

   "client_id": "my client ID",

   "resources":

   [

    {

     "resource_id": "/code_versions",

     "methods": ["get"],

     "read_attributes": "(**)",

     "write_attributes": "(**)"

    },

    {

[2020-12-09 14:49] brett-broadwell commented on #195
I found the issue by using the CLI. CLI returned a 500 internal server error. This led me to look at the logs on the instance. Found that a WebDAV permission for another client ID was duplicated. Fixed the WebDAV issue and code uploads using the JavaScript API.

[2020-12-09 14:50] #195 closed

[2020-12-10 09:59] amahe commented on #189
Hi Team,

Any idea ?

Thx
AM

[2020-12-11 10:29] roy-tan opened #196 "Creation of API Client ID"
We need to provide an extensive number (tens of thousands) of API access so doing this via the Account Manager user interface is not feasible. Appreciate if we can have a sfcc-ci command to create the API client id so we can automate this process.

[2021-01-29 12:20] mganoo opened #197 "User Creation date for Audit purpose"
I need to read the user data (maybe history), so it can show me when the user was created. I need this report to submit to our external auditors. See the attached Account Manager screenshot. Ideally, on this screen so I can submit it to the auditors.
![Screen Shot 2022-11-16 at 6 34 07 AM](https://user-images.githubusercontent.com/69092340/202182225-7f5db50c-fd75-4757-ab25-e3a144692104.png)

[2021-02-04 17:58] C-Lacerda opened #199 "Error on code activation (dw_api_activate_code): ERR_TLS_CERT_ALTNAME_INVALID"
Hi, we did the p12 file as usual, the code is uploading, also metadata, but on the activation code step we receive an error:
**dw_activate.js --> dw_api_activate_code.js**
...let codeApi = require('sfcc-ci').code;
codeApi.activate(options.baseUrl, options.version, token, function (error) {...

baseUrl, version and token are correct
From the console logs that we put on it function we can see just t

[2021-02-04 18:35] C-Lacerda commented on #161
H @dmersiowsky  have you solved?

[2021-02-04 21:18] fenomchris opened #200 "client:auth won't ingore dw.json file"
When running the client auth command with client-id and client-password parameters, the plugin still tires to use dw.json file credentials. As we use MFA for all users, this causes auth to fail for everyone. Is there a way to force ignore the dw.json file when authenticating?

[2021-02-18 20:26] C-Lacerda commented on #199
@tobiaslohr  could you please give us a help with: ERR_TLS_CERT_ALTNAME_INVALID at activation code step?

[2021-02-23 10:13] alexeibespalov commented on #171
We are experiencing a similar issue. Can you tell me what the resolution was at the end? @ndamania-lilly

[2021-02-26 19:38] suhel1612 opened #202 "B2C sandbox creation"
Hello Experts,

I am stuck with sfcc-ci auth:login is failing to authenticate using OAUTH2. What should be the value of SFCC_LOGIN_URL? I wonder if there is a step by step guide for the authentication steps to be followed before the Sandbox creation steps as outlined on the cheatsheet https://sfdc.co/sfcc-cli-cheatsheet
Thanks for your time.
Regards,
Suhel

[2021-03-04 12:38] suhel1612 opened #203 "sfcc-ci auth:login - unable to authenticate"
Hello Experts,
I am trying to create a Commerce cloud B2C On-demand Sandbox.

When I execute 'sfcc-ci auth:login' I do get the login screen asking for user name followed by password and finally a blank screen and i dont got the MFA authentication request on my mobile.

Any thoughts please?
![verify screen](https://user-images.githubusercontent.com/58297333/109965124-70b27d00-7ce6-11eb-9967-610c7e6

[2021-03-05 10:12] ajimeneg opened #204 "Use a proxy with sfcc-ci"
Hi,

I'm trying to use sfcc-ci in a Jenkins linux machine which is behind a proxy. I tried setting the proxy this way before the auth (groovy jenkins file):

sh 'export HTTP_PROXY="http://myproxy.example.com:8080"'
sh 'export HTTPS_PROXY="http://myproxy.example.com:8080"'
sh 'export http_proxy="http://myproxy.example.com:8080"'
sh 'export https_proxy="http://myproxy.example.com:8080"'
sh 'export P

[2021-03-09 15:47] drodriguez-crocs opened #205 "User Creation Ambiguous options"
Currently trying to prepare for a mass user migration from SFCC login to Account Manager login, and was given this tool. Currently trying to create test users in both environments to see if this tool will work for our needs.

I am running the following(redacted) for both instance and org, but receiving the same error on both:
sfcc-ci-win user:create --instance "development-instance" --login "testE

[2021-03-31 06:39] mukul-kulshrestha opened #208 "Development Build Failure Error - code deploy: 521 - Origin Down!"
Hi,

when deploying code via Jenkins (OCAPI used here for code upload and data), getting below error frequently on a development instance, can you please provide inputs on this?
Below is the brief log. Attached full log file

**code deploy: 521 - Origin Down!
hudson.AbortException: 521 - Origin Down!**
at org.jenkinsci.plugins.osfbuildersuiteforsfcc.deploy.OpenCommerceAPI.unzipCartridge(OpenCommer

[2021-04-08 19:55] DenyVeyten commented on #200
+1 for the ability to ignore username and password from dw.json

[2021-04-19 21:40] kenzrad opened #211 "sandbox:create resourceProfile option throwing error"
I am getting an error when trying to use 'resourceProfile' as an option in sfcc-ci sandbox:create.

command:
`sfcc-ci sandbox:create -j --realm ${realm} --ttl ${timeToLive} --resourceProfile xlarge`

error:
`stderr: "error: unknown option `--resourceProfile'\n"`

https://documentation.b2c.commercecloud.salesforce.com/DOC2/index.jsp?topic=%2Fcom.demandware.dochelp%2Fcontent%2Fb2c_commerce%2Ftopics%

[2021-04-20 19:09] mjacob4813 commented on #211
Facing the same issue. Sandbox api has new parameter that needs support in SFCC-CI.

  "realm": "<your realm id>",
  "ttl": 24,
  "autoScheduled": false,
  "resourceProfile": "medium",
  "settings":

[2021-04-27 21:50] timonroe opened #212 "Expose the WebDAV deleteFile and unzip functions for external use"
Hi @tobiaslohr,

My request is similar to this one: https://github.com/SalesforceCommerceCloud/sfcc-ci/issues/40

I cloned the repo  and exposed the `deleteFile` and `unzip` functions and they seem to work fine.

Thanks,
Tim

[2021-05-11 23:48] rbknajera commented on #159
Do we have any news about this? I'm about to create a workflow on GitHub actions for my projects ci/cd and having this would be great

[2021-05-12 15:11] tobiaslohr commented on #205
Please note, that there is a difference in the way how the user details are provided (via the JSON). There is a difference in the property naming, depending on whether you create a user in Account Manager (sfcc-ci user:create with --org and without --instance) or you create a user in a B2C Commerce instance (sfcc-ci user:create without --org and with --instance).

The Account Manager user details

[2021-05-14 19:35] mohanckulkarni opened #213 "Getting Error: Authentication failed: Resource owner authentication failed error"
I am trying to use the below interactive auth command using sfcc-cli too.

sfcc-ci client:auth $API_KEY $API_SECRET $API_USER $API_USER_PW

I am getting Error: Authentication failed: Resource owner authentication failed error when i try to authenticate with my account manager user and password. Not sure why.

The same user name and password works fine when i use them to login to Account Manager ma

[2021-05-17 22:07] drodriguez-crocs commented on #205
@tobiaslohr Thanks for the clarification, but I am still receiving the 'Error: Ambiguous options. Pass either -o,--org or -i,--instance.' error even with the correct naming formats.

[2021-05-18 14:15] drodriguez-crocs commented on #205
Update for all.. I have gotten this to work on the MacOS version, but not the windows version, so this may be a bug with the windows specific version

[2021-05-20 08:06] gokaygurcan commented on #159
Tbh, I'm busy with other things and can't really tell when I can finish anything close to be useful. So, please don't wait up for me if you're waiting for any working solution. execa is a good alternative as suggested above, in github-script action you can call sfcc-ci with the parameters you want and parse the response as you like.

[2021-05-20 19:07] ibrianli commented on #208
+1 , i am experiencing a similar issue, although it appears intermittent. we're getting error 521 response code when uploading data files.

[2021-05-24 10:05] suhel1612 opened #214 "calling a third-party API URL"
Dear Experts,
I wonder if anyone has tried calling a third-party API URL in the commerce cloud (SFCC)? I wonder if there are any additional configs we need to make for third-party integrations? Any directions would be highly appreciated.

Regards,
Suhel

[2021-05-26 14:37] tobiaslohr commented on #204
There is no support yet for running the CLI with proxy settings for http and https traffic. Suggestions through contributions however are welcome.

[2021-05-26 14:39] tobiaslohr commented on #214
Is this a CLI related question? If not, please raise it in the https://trailblazers.salesforce.com/

[2021-05-26 14:43] tobiaslohr commented on #213
Most likely this is an issue with your user password. Please try quoting your password with `'` and try again. Also bear in mind, that for running automations you don't have to authenticate a user anymore, but you only need the client id and secret. Roles and tenant filters can be assigned to API clients, like for managing sandboxes automatically.

[2021-05-26 14:46] tobiaslohr commented on #212
Thanks @timonroe. Feel free to submit a PR referring to this issue and we can review it.

[2021-05-26 14:52] tobiaslohr commented on #211
Why are you getting this error? Reason is simply, because the CLI does not (yet) provide this option. This tool lives from contributions. If you don't contribute, it will not change. While it makes sense to point out a certain functionality is not yet available I encourage you to suggest a change through submitting a PR.

So, this is not an issue, but it is a request for a change or enhancement.

[2021-05-26 14:59] tobiaslohr commented on #208
@mukul-kulshrestha On which CLI command are you receiving this? I can see java files referenced. The CLI is implemented in Node, not Java. So is this question related to the CLI at all?

[2021-05-26 15:04] tobiaslohr commented on #203
@suhel1612 is MFA working well when you log into Business Manager (e.g. on a sandbox)?

[2021-05-26 15:12] mohanckulkarni commented on #213
Thanks Tobias for replying back.

I don’t think it’s an issue with my user password. I am able to use the same password to log into Account Manager. I tried setting the API_USER_PW with quotes and call the below command:

sfcc-ci client:auth $API_KEY $API_SECRET $API_USER $API_USER_PW

It failed with the same error.

What is command we need to use for authenticating with client id and secret to ru

[2021-05-26 15:51] navyhod opened #217 "instance.import stop working after recent changes"
Hi Experts!
Today we faced the problem with importing site archive via sfcc-ci. Changes were made in the following PR https://github.com/SalesforceCommerceCloud/sfcc-ci/commit/39217f8ddcf3046cd3a0fb7a77e0bf6924c48292#diff-d3a527ebc15848de99aed98f38fb6fa47ad5d42ee8d9f6c74b3086bf9be5c36c on line 296.
Could you please let me know one this problem will be resolved?

Thanks!
Best regards, Oleksandr

[2021-05-26 19:48] tobiaslohr commented on #202
@suhel1612 What exactly is failing? The SFCC_LOGIN_URL is meant to be the host name of the Account Manager. As Account Manager is multi-tenant, you don't need to adjust SFCC_LOGIN_URL as by default account.demandware.com is being used.

What steps are missing in the README.md and in the wiki?

[2021-05-26 19:50] tobiaslohr commented on #217
@navyhod Can you please post the exact error message here? Also note, that we haven't build a new release yet. So, even if in master, you should always use an official release.

[2021-05-26 19:51] tobiaslohr commented on #217
@jbachelet Something you can check?

[2021-05-26 20:48] navyhod commented on #217
Hi @tobiaslohr

error message is quite clear - "Parameter job_params must either be an array". And this error message comes from instance.api.import method. I guess that it would be enough just to wrap parameters inside import function but I'm not sure that  this is all required actions that should be made.
Thanks!

[2021-05-26 20:55] tobiaslohr commented on #217
@navyhod So, it's an issue in the JS API `instance.import` and not in the CLI command `sfcc-ci instance:import`?

[2021-05-26 20:58] tobiaslohr commented on #199
@C-Lacerda This error is coming from the build-suite right? Didn't you use a stable version of sfcc-ci in the build-suite?

@dmersiowsky FYI

[2021-05-26 20:58] navyhod commented on #217
@tobiaslohr correct

[2021-05-26 21:56] tobiaslohr commented on #189
Hi @amahe, the CLI never supported setting a user's password. A user always sets the password for his account on his own. This happens as part of the user creation (command `sfcc-ci user:create`), the user is receiving an email send by Account Manager with an activation link.

[2021-05-26 22:01] tobiaslohr commented on #182
@NicoloMenandroDiana @macleodg The sandbox API now supports using a client_credentials grant (an authenticated API client, not a user) to manage sandbox. Since a user authentication is not involved, there is no MFA to be done, hence it supports the automation scenario.

To do this go to your API client, assign role `Sandbox API User` with tenant being your realm you want to manage sandboxes for. T

[2021-05-26 22:14] tobiaslohr commented on #181
@Trimud @saipavwan As @Rohith13 pointed out, you have to assign role Account Administrator to your API client and only authenticate the API client via `sfcc-ci client:auth <client-id> <secret>`. You are explicitly NOT authenticating a user.

If you don't see role Account Administrator with your API client, I suggest you open a Support Case and have support assigning it on your behalf.

[2021-05-26 22:18] tobiaslohr commented on #180
There is, please see https://github.com/SalesforceCommerceCloud/sfcc-ci/issues/122. Can you please add your use case and describe, what you'd like to download and for what purpose?

[2021-05-27 07:13] NicoloMenandroDiana commented on #182
@tobiaslohr this is great news!
thank you so much

[2021-05-27 07:13] #182 closed

[2021-05-27 07:34] dmersiowsky commented on #199
The error indicates an issue with the SSL Certificate used for the Server you are calling.
You can try if `npm config set strict-ssl false` fixes the issue.

Would be good to know the Hostname and the underlying SSL Certificate setup, not sure if you want to share it here though.

However, it is most likely an SSL issue and not a bug in Build Suite or sfcc-ci.

"baseURL" - you are not running the

[2021-05-27 07:45] tobiaslohr commented on #172
@sfelius The sandbox API does not provide a filtering of sandboxes on realm level unfortunately. Hence we cannot provide a filtering easily as part of the CLI. However, you can pipe the result of `sfcc-ci sandbox:list` and `grep` by realm, like that:

[code]

[2021-05-27 08:00] tobiaslohr opened #219 "Creating sandboxes with specific resource profile"
The sandbox API added support for creating a sandbox with a specific resource profile. Values accepted are: medium, large, xlarge whereas the default profile is "medium".

The sandbox creation (command `sfcc-ci sandbox:create`) should support passing a profile, via a `--profile <profile>` parameter. If omitted, the medium profile is used.

[2021-05-27 08:44] tobiaslohr commented on #203
Well, this sounds like a general access problem, and not related to the CLI tool at all. I suggest you open a Case with our Support Team.

[2021-05-27 10:39] suhel1612 commented on #205
Hi Tobias,
This issue was resolved. Thanks
Regards,
Suhel

On Thu, May 27, 2021 at 11:28 AM Tobias Lohr ***@***.***>
wrote:

[2021-05-27 10:41] tobiaslohr commented on #205
HI @suhel1612, thanks and glad you've solved it! For the sake of sharing with other community members, can you let us know, who you've solved the issue finally?

[2021-05-27 12:37] tobiaslohr commented on #213
@mohanckulkarni To run automations in fact you don't need anymore the user to authenticate. You only need a client. (BTW, you can then finally activate MFA for all roles in your Account Manager org.)

Did you assign the `Account Administrator` role to your API client? If not, please do that, as it's required to give user management permissions to your API client. If you don't see the `Account Admi

[2021-05-27 14:33] drodriguez-crocs commented on #205
sfcc-ci-win user:create --org org2 -l email@org.com --user '{"firstName":"Daniel", "lastName":"Testing","roles":["bm-user"]}'
Error: Ambiguous options. Pass either -o,--org or -i,--instance.

[2021-05-27 18:43] #219 closed

[2021-05-27 18:43] #211 closed

[2021-05-27 20:06] tobiaslohr commented on #205
@drodriguez-crocs The error message `Error: Ambiguous options. Pass either -o,--org or -i,--instance.` is only printed if:

* --org AND --instance are not passed or
* --org AND --instance are passed

as you are passing --org, it may be that --instance (although not being passed explicitly) is being looked up via a configured default instance (from previous commands).

Can you please check if a def

[2021-05-27 20:46] tobiaslohr commented on #151
Hey @Trimud, does your issue still exist or where you able to solve it? Two thoughts on this:

* The Sandbox API has recently been updated and now accepts API clients be be authenticated without a user. This is required to fully run automated sandbox management without a user or a service user present. Hence, you are not running into 2FA like if a user is authenticated. To make use of this, go to

[2021-05-27 21:38] drodriguez-crocs commented on #205
@tobiaslohr It does not appear that there is a default instance set when running instance:list
 Default Instance │ (not set)

[2021-05-28 07:47] tobiaslohr commented on #205
@drodriguez-crocs Thanks for confirming! And just to double check, you are still receiving the same error, when executing:

[code]

?

[2021-05-28 12:52] tobiaslohr commented on #217
@navyhod A fix was provided by @jbachelet and merged into master. Can you please re-test on your side?

[2021-05-28 14:50] tobiaslohr opened #222 "Support for auto scheduling sandboxes"
The CLI should adopt the Sandbox APIs capability of flagging a sandbox to be auto scheduled upon creation as well as updating and existing sandbox to either auto scheduled (turn on) or not auto scheduled (turn off).

The following commands should be adjusted:

`sfcc-ci sandbox:create`

* a new `--auto-scheduled` flag should be added
* if passed the sandbox is auto scheduled
* if omitted the sandbo

[2021-05-31 13:48] tobiaslohr commented on #149
@lornadsilvasonos Now that sandbox IP addresses can queried (see #187), will that help you when working with aliases?

[2021-06-01 07:03] #222 closed

[2021-06-01 07:13] Trimud commented on #151
Thank you Tobias, I'll give it a try in our automated sandbox management tool. This would solve a lot of issues like expiring user passwords etc.

[2021-06-01 14:48] drodriguez-crocs commented on #205
@tobiaslohr That is correct, I am still receiving the error when running your command with the correct org name and ID.

[2021-06-01 15:27] tobiaslohr commented on #205
@drodriguez-crocs can you run the command in debug mode and (not put the output here!) check if you see the value for --org being properly passed and processed?

[2021-06-03 13:39] tobiaslohr commented on #217
Hi @navyhod, may I ask you to review the fix provided for this and let us know, if this fixes your issue? We'd like to build a release afterwards. Thanks a lot!

[2021-06-03 13:50] jonathansayag commented on #217
Hi @tobiaslohr, the fix solved the issue on my side.

[2021-06-04 07:55] tobiaslohr commented on #217
Thanks a lot @jonathansayag for the feedback!

[2021-06-04 07:55] #217 closed

[2021-06-04 14:56] tobiaslohr commented on #144
Fixed with #183

[2021-06-04 14:56] #144 closed

[2021-06-07 08:16] mgerrits-suit opened #225 "Module Colors not found"
Hi,

Since version 2.7.0 I get an error:
[code]
I was looking for this missing package in package.json and it is listed under dev-dependencies.

Regards,
Martijn

[2021-06-07 08:34] tobiaslohr commented on #225
Hi @mgerrits-suit,

thanks for raising! How are you using/installing the tool? Do you use a binary or do you clone and npm install?

[2021-06-07 08:35] mgerrits-suit commented on #225
@tobiaslohr, I'm installing with `npm install sfcc-ci -g`

[2021-06-07 08:36] tobiaslohr commented on #225
ok and when are you getting the error? which command are you using after installing?

[2021-06-07 08:39] mgerrits-suit commented on #225
I tried several command like `sfcc-ci auth:login` or just `sfcc-ci`. They all exit with the same error `Error: Cannot find module 'colors'`

[2021-06-07 10:56] tobiaslohr commented on #225
@mgerrits-suit Can you check https://github.com/SalesforceCommerceCloud/sfcc-ci/pull/226 and see if that fixes the issue for you?

[2021-06-07 12:10] SolidPatterns commented on #225
We are having the same issue. We have worked around it for now by changing our npm install command.

Old command:
`npm install -g sfcc-ci`
New command:
`npm install -g sfcc-ci@2.6.0`

Here are the logs with the error:
`2021-06-07T11:56:02.9193486Z > sfcc-ci client:auth "xxxx" "***"
2021-06-07T11:56:02.9193832Z
2021-06-07T11:56:03.0119614Z internal/modules/cjs/loader.js:818
2021-06-07T11:56:03.0120

[2021-06-07 12:22] #225 closed

[2021-06-07 14:13] tobiaslohr commented on #225
We've built a new release (see https://github.com/SalesforceCommerceCloud/sfcc-ci/releases/tag/v2.7.1), please validate.

[2021-06-07 15:04] mgerrits-suit commented on #225
Checked and it works now.

[2021-06-07 19:42] nickRVW opened #227 "BitBucket Pipelines Deployment Error"
Hi, we are receiving new BB deployment failures (what seems like after this recent master update 2.7.1). I believe sfcc-ci is only used for a code activation portion in our builds. Here is a successful step execution of this:
![image](https://user-images.githubusercontent.com/70722999/121077873-cdb64700-c79d-11eb-8647-028892663427.png)

And here is the new error:
![image](https://user-images.githu

[2021-06-08 15:20] nickRVW commented on #227
I upgraded [Build Suite](https://github.com/SalesforceCommerceCloud/build-suite) from v1.2.3 to v1.2.4 which has the sfcc-ci dependency set as --
"sfcc-ci": "SalesforceCommerceCloud/sfcc-ci#v2.5.1"

Things are building/activating properly now, so could possibly still be the latest version update :man_shrugging:

[2021-06-08 15:20] #227 closed

[2021-06-10 11:42] KennethRobbeFrucon opened #228 "Regression: webDAV-functionality broken on Windows"
The following line was updated in version 2.7.0, but this breaks all webDAV-functionalities on Windows:

https://github.com/SalesforceCommerceCloud/sfcc-ci/blob/613bf7478afcba72daf3831ed1c0cbccc92a33c2/lib/webdav.js#L26

It uses path.join to join two path segments. However, path.join() is meant to interact with file paths, while this is an URI. This results in a path with backslashes on Windows, w

[2021-06-10 16:08] MrWWeber opened #229 "Can not get headless authentication to work"
When configuring my dw.json file - I believe I am placing the correct values within the file - however the SFCC-CI application still attempts to spawn a browser when using the  auth:login   option.

Is there another way to get headless authentication to work? I am attempting to place this tool within a CI/CD agent's build pipeline. Documentation here mentions headless - but I'm not able to figure

[2021-06-14 06:43] navyhod commented on #217
Hi @tobiaslohr, everything works fine. Thanks and sorry for late reply.

[2021-06-14 07:11] tobiaslohr commented on #217
thanks for confirming @navyhod

[2021-06-14 16:56] z1haze opened #230 "Error with job.api.run when using certificates"
Issue occurs when trying to use a token that was generated using the certificate and passphrase to run a job using sfcc.instance.import().

The exception is thrown in job.js line 301

[code]

[2021-06-16 13:09] KennethRobbeFrucon commented on #228
@jbachelet / @tobiaslohr Could you please look into this as you did / merged the change that caused the issue? Was this just an oversight or was there a specific reasoning behind using path.join here?

[2021-06-16 13:38] tobiaslohr commented on #228
@KennethRobbeFrucon Agree! This is a bug and from what I can see, there was not a specific reason `path.join` was used instead. @jordanebachelet please correct me if I'm wrong

[2021-06-22 05:11] hnestmann opened #231 "Add SLAS Admin API"
We now have the shopper login and api access API, which can be administered via API.

https://developer.commercecloud.com/s/api-details/a003k00000VzoEyAAJ/commerce-cloud-developer-centershopperloginandapiaccessadmin

I suggest the following commands
[code]

[2021-06-25 10:29] jbachelet commented on #228
Apologize for the issue, I was only able to test it on mac, where it works fine.
We should revert this change then

[2021-06-28 13:11] tobiaslohr commented on #228
@jbachelet Thanks. Do you have bandwidth to do this?

[2021-07-05 08:00] tobiaslohr commented on #229
@MrWWeber did you place a client id and a client secret in the `dw.json`?

[2021-07-05 08:09] tobiaslohr opened #232 "Increase default sandbox creation polling timeout"
Sandbox creation takes sometimes longer than the default timeout of 10 mins. As a result the sandbox creation in sync mode may fail as the status `started` was not reported back.

Suggestion is to increase the default timeout from 10 to 15 min.

[2021-07-05 08:35] zlatinz commented on #228
@jbachelet @tobiaslohr will https://nodejs.org/api/url.html#url_new_url_input_base work instead?

[2021-07-05 09:24] tobiaslohr commented on #228
Provided a fix in https://github.com/SalesforceCommerceCloud/sfcc-ci/pull/233, please review and approve

[2021-07-05 10:05] tobiaslohr commented on #175
Provided a fix at https://github.com/SalesforceCommerceCloud/sfcc-ci/pull/234, please review and approve.

[2021-07-05 10:17] tobiaslohr commented on #178
@jlbruno @astound-ci Is this issue still existing?

[2021-07-05 10:19] #228 closed

[2021-07-06 14:54] MrWWeber commented on #229
Yes - we were using the wrong auth type and once we fixed that and our client config in sfcc + dw.json we were good. I'll close this out.

[2021-07-06 14:54] #229 closed

[2021-07-06 15:03] tobiaslohr commented on #229
Thanks for confirming @MrWWeber

[2021-07-06 15:04] #232 closed

[2021-07-06 15:24] #175 closed

[2021-07-09 12:52] nek4life commented on #173
@clstopher Did you have to request a new cert from Salesforce or just upload a new one to the Private Keys and Certificates section of business manager? I'm getting the same error.

[DEBUG] Error code: undefined, message: ee key too small, stack: Error: ee key too small
    at Object.createSecureContext (_tls_common.js:210:19)

There's a way to get around this by changing the openssl config settin

[2021-07-09 12:54] nek4life commented on #173
There also appears to be a  --selfsigned boolean option on the CLI, however it doesn't seem to do anything. Adding the dw.json file with "self-signed" provided a work around so thanks for that!

[2021-07-09 12:58] clstopher commented on #173
@nek4life - In my case, I simply generated a new certificate with the certificate bundle that Demandware originally gave us years ago; That got me around the "ee key too small" error but then I was getting the DEPTH_ZERO_SELF_SIGNED_CERT, which I solved with the dw.json workaround. I have not since changed / followed up with this - My system is currently working with this "hopefully short term fix

[2021-07-09 13:03] nek4life commented on #173
@clstopher I'll look into that. I have the .crt and .key files and created a pfx for use with sfcc-ci. I'll see if I can figure it out how to generate a new cert based on those with 2048 or above bits. Thanks for your help!

[2021-07-09 13:05] clstopher commented on #173
@nek4life  - Just noticed that you asked about uploading a cert to Private Keys and Certificates; To my knowledge, that isn't part of the process at all.  You will generate a certificate using the Certificate Bundle that Demandware / Salesforce gives you, and that .p12 file will be something that you use on the client to log in. The server is already configured to recognize any certificate generat

[2021-07-09 21:12] dmcdermott-petsmart commented on #204
We had an issue with this.  Under the hood, it appears Node is what is making calls out to the internet, so as long as Node is correctly configured for your proxy, you should be good.

[2021-07-23 04:54] johnboxall commented on #231
Here is an example mini-CLI for interacting with the SLAS API: https://gist.github.com/johnboxall/5fc961a6b6a13440a9a6afd37264459c

[2021-07-29 15:49] nek4life opened #240 "sfcc-ci sandbox:ips no flag for instance, output confusing"
The output is confusing for sandbox:ips which sandbox is it using to get the IPs addresses? According to Salesforce there should be 3 outgoing IPs for each sandbox, however there does not appear to be a way to specify which sandbox and the verbiage says sandboxes

Here is the help instructions

List inbound and outbound IP addresses for sandboxes

Options:
  -j, --json  Formats the output in json

[2021-07-29 16:06] nek4life commented on #240
I'm looking at the swagger api docs now. I'm thinking SF support may be wrong here... working with them. Will close if that is the case.

[2021-08-09 13:57] tobiaslohr commented on #240
@nek4life The commands make use of the sandbox admin API `GET /system`. There is no sandbox or instance specific input required.

[2021-08-11 01:39] jlbruno commented on #178
@tobiaslohr I unfortunately am not able to test this at this time.  @astound-ci can you help?

[2021-08-11 09:42] hnestmann opened #241 "Include managed runtime commands"
PWA Kit environments can be managed using APIs. It would be great if we can add this to SFCC-CI to allow common tool to handle both b2c backend and pwa kit frontend

https://developer.commercecloud.com/s/api-details/a003k00000ZsXZvAAN/commerce-cloud-developer-centermanagedruntime

[2021-08-12 11:41] hnestmann opened #244 "Add ECDN Zones API"
Easy enable brotli and the like

https://developer.commercecloud.com/s/api-details/a003k00000UIKk2AAH/commerce-cloud-developer-centercdnzones

[2021-08-12 15:13] hnestmann opened #245 "Allow client:auth to force client_credential grant"
If dw.json is filled with user name and password. SFCC-CI will add "grant_type":"password" to the auth. This auth doesn't work sometimes, forcing the user to client up dw.json

[2021-08-12 15:19] hnestmann opened #246 "No prompt doesnt work, if instance is required on user:update"

[2021-08-18 08:02] tobiaslohr commented on #245
Thanks for raising @hnestmann! There are two options I see:

* Change the behaviour of command `sfcc client:auth` to only accept explicit arguments passed in case you have at least some arguments passed already. In your case, if you are passing client id and secret explicitly it will not read user creds from another source, like from the `dw.json` but expects them as being passed explicitly as wel

[2021-08-18 15:47] drewzboto commented on #241
thanks! I'll share this with the Managed Runtime team and see if we can contribute a starting set

[2021-08-19 13:17] tobiaslohr commented on #241
Thanks @drewzboto

[2021-08-19 14:27] zardoz73 opened #247 "Authentication error"
Hi,
   I am using your Node.js package in order to create a project to deploy code on staging instance.

When the script try to execute thi command :
`sfcc.auth.auth(client_id, client_secret, function (err, token) {`

I get this error :
`Authentication error: Error: Error: SSL Error: SELF_SIGNED_CERT_IN_CHAIN`

How is it possible? I don't use any certificate to connect using clientId and clientSec

[2021-08-27 21:20] MahdiMontgomery opened #248 "Missing null check on res object"
`lib/webdav.js:314` is missing a null check on the res object.

[2021-08-30 15:27] jorgehernandezSF opened #250 "sandbox:get -s xxxx -O option always redirects to us01 host"
This line of code:
https://github.com/SalesforceCommerceCloud/sfcc-ci/blob/master/lib/sandbox.js#L26
is hardcoded to **us01**
which means that the
sfcc-ci sandbox:get -s xxxx -O command always sends you to the us01 host, which no longer exists.

[2021-08-31 09:29] tobiaslohr commented on #250
Thanks for raising @jorgehernandezSF! This is indeed the last leftover of us01 being the only sandbox cluster. We requested an API change of the Sandbox API. This change is for `GET /sandboxes`, `GET /sandboxes/{id}`, `POST /sandboxes` to return the host name of the sandbox as part of the SandboxModel, which is now being made available.

[2021-08-31 13:26] #250 closed

[2021-08-31 13:47] tobiaslohr commented on #247
Hi @zardoz73, can you provide some logs to see, what request is actually failing?

[2021-08-31 13:53] tobiaslohr commented on #230
@z1haze Can you please clarify what you mean by

?

The access token itself is obtained from Commerce Cloud Account Manager and does not need a client certificate and passphrase at all. The client who obtains a token needs a client id and a secret, no client certificate at all.

Also which version of the tool are you using? Looking at master line 300 in job.js (https://github.com/SalesforceCommerc

[2021-09-02 10:42] tobiaslohr commented on #248
Thanks for reporting and contributing!!

[2021-09-02 10:42] #248 closed

[2021-09-08 10:13] amahe opened #254 "License not clear"
Hi SFCC-CI team,

When i have a look at the projet  you say that the BSD-3 licence  apply.
In the [license file ](https://github.com/SalesforceCommerceCloud/sfcc-ci/blob/master/LICENSE.txt), the first line says that this product depends on salesforce.
So is-it dependant of Salesforce or the community ?
Could be great to clarify that point for evryone.

Kind regards

[2021-09-08 11:13] tobiaslohr commented on #254
Hi @amahe,
we have followed our Salesforce open sourcing processing when open sourcing the CLI tool and thus are using the same type of license as for other Salesforce open source tools. For specific questions on type of licenses I kindly refer to contacting the Salesforce legal at https://www.salesforce.com/company/legal/

[2021-09-15 19:22] t-s-s opened #255 "Self-signed Certificates"
https://github.com/SalesforceCommerceCloud/sfcc-ci/blob/1199c9d1ca67ba2f27d2517b7ec4647bd1667594/lib/webdav.js#L37

Shouldn't this be configurable in the command line interface not just via dw.json

I noticed there is a --selfsigned option but it is ignored.

My understanding is that we should be generating the client certificate and signing it with the key provided by Salesforce rather than using

[2021-09-28 22:35] albertogiantin-hfarm commented on #117
@tobiaslohr it's my first time deploying code to staging instance. I don't understand your last sentence "A more safer approach is using client credentials incl. client id and secret, and authenticate with: sfcc-ci client:auth <client-id> <client-secret>"
I created the certificate to run the "sfcc-ci code:deploy" command but I don't understand if I have to create a specific API client in Account M

[2021-10-01 11:06] tobiaslohr commented on #117
@albertogiantin-hfarm That statement was related to the use of that API client along with a redirect url configured in Account Manager. It's not related to the 2FA cert to deploy code on staging.

[2021-10-14 22:39] nvenna39 opened #258 "SFCC CLI "SLAS" commands not working"
Hi Team,
One of our customer noticed an issue with the SFCC CLI commands in the README.md
Eg:
sfcc-ci slas:client:list
Error: Unknown command `slas:client:list`. Use `sfcc-ci --help` for help.

slas commands looks like not working.

Could you please review and let us know if any issues with the commands and provide suggestions here. Thank you!

[2021-11-02 08:42] tobiaslohr commented on #255
Hi, thanks for raising this. I don't see a reason, why it should only be supported via dw.json. It should be supported via global flag `--selfsigned`. Do you mind submitting a PR for this?

[2021-11-02 10:09] tobiaslohr commented on #117
👍

[2021-11-03 09:14] #255 closed

[2021-11-03 14:01] tobiaslohr commented on #231
Released with v2.8.0

[2021-11-03 14:01] #231 closed

[2021-11-03 14:02] tobiaslohr commented on #258
Latest release v2.8.0 (https://github.com/SalesforceCommerceCloud/sfcc-ci/releases/tag/v2.8.0) contains the SLAS related commands. Closing this now

[2021-11-03 14:02] #258 closed

[2021-11-03 14:03] tobiaslohr commented on #254
Is there any other question on that or can we close this?

[2021-11-03 14:18] clstopher commented on #173
Figured worth mentioning that #261 is a partial fix for this issue.

[2021-11-03 14:56] amahe commented on #254
Yes it's ok, can close then. Thx.

[2021-11-03 14:56] #254 closed

[2021-11-23 18:08] drewzboto opened #265 "SLAS shortcode and tenant options switched"
I was trying to use the new slas functions, but I believe on v2.8.0 the options are accidentally switched. It looks like sfcc-ci is picking up the tenant from the shortcode option and the shortcode from the tenant option

[code]

**Steps to reproduce:**
1. Auth sfcc-ci
2. Attempt to list clients: `sfcc-ci slas:client:list --shortcode kv7kzm78 --tenant zzrf_001`

**Expected results:**
List of SLAS

[2021-11-23 18:09] drewzboto commented on #265
@hnestmann can you reproduce this?

[2021-11-23 18:10] drewzboto commented on #265
Related... i'm not sure if this is working as expected for listing tenants:

[code]

[2021-11-24 10:19] hnestmann commented on #265
Hi Drew, I heard from a partner the same thing- Thanks for raising - we'l have a look

[2021-11-27 16:31] vkusok opened #266 "sfcc-ci library code.diffdeploy issue on win"
Hi All,

I am observing an issue with diffdeploy on windows.
My research has shown that diffdeploy method is using globby which is expecting patterns without backslashes and if the string contains backslash char, such chars will be ignored.

E.g. this part of code:

`const files = await globby(directories.map(directory => path.join(directory, 'cartridges/**/*')), {
            ignore: ignoreAcross

[2022-01-09 10:00] ecRobertEngel opened #268 "Colors infinite loop"
Due to (the intentional) broken colors.js version 1.4.1 sfcc-ci is currently not working.

**The solution is to fix the dependency to version 1.4.0.**
Long term I would try to switch to a community fork of colors as I except more trouble with this package.

I also noticed that colors is part of the dependencies and dev-dependencies, which can be removed.

[2022-01-10 04:16] johnang-del commented on #268
+1, this is breaking our CI pipelines right now

[2022-01-10 08:33] mrkpatchaa-sf commented on #268
Might be related but our pipeline is running for 20 min now only on sfcc-ci auth.

[2022-01-10 08:42] mrkpatchaa-sf commented on #268
So this is the reason.
https://developers.slashdot.org/story/22/01/09/2336239/open-source-developer-intentionally-corrupts-his-own-widely-used-libraries

https://github.com/Marak/colors.js/issues/285

[2022-01-10 09:11] mrkpatchaa-sf commented on #268
Temporarily fixed by patching the package.
https://www.npmjs.com/package/patch-package

[2022-01-13 11:31] tobiaslohr commented on #268
Fix with release https://github.com/SalesforceCommerceCloud/sfcc-ci/releases/tag/v2.8.1

[2022-01-13 11:31] #268 closed

[2022-01-13 11:33] tobiaslohr commented on #266
Thanks for raising @vkusok!

@jordanebachelet Can you please give your thoughts on that?

[2022-01-19 03:42] nickpalmigiano commented on #200
The fix for this should be included in #245

[2022-01-20 14:50] jesielsp opened #271 "MFA attributes not exposed in sfcc-ci user:list"
**Use Case:**
Customer enabled MFA on their Org (to allow TOTP), however they do not set the flag “MFA enabled for all users”  in account manager. They would like to pull a report of all users that has set up MFA

**Issue**:
currently sfcc-ci user:list does not expose this attribute and as part of MFA requirement, this attribute would be important to be exposed.

[2022-01-24 11:14] #271 closed

[2022-01-24 12:57] tobiaslohr commented on #246
Thanks for raising, see PR #276

[2022-01-24 12:59] tobiaslohr commented on #240
hi @nek4life, can we close this?

[2022-01-24 13:00] tobiaslohr commented on #214
Since this is unrelated to the CLI itself, can we close this @suhel1612 ?

[2022-01-24 13:00] tobiaslohr commented on #213
Hi @mohanckulkarni , Can we close this?

[2022-01-24 13:02] tobiaslohr commented on #208
@mukul-kulshrestha is this issue still relevant or can we close it?

[2022-01-24 13:03] tobiaslohr commented on #205
@drodriguez-crocs is this issue still happening / relevant or can we close it?

[2022-01-24 13:03] tobiaslohr commented on #203
@suhel1612 Can we close this ticket?

[2022-01-24 13:04] tobiaslohr commented on #202
@suhel1612 Is this still relevant or can we close it?

[2022-01-24 13:05] tobiaslohr commented on #199
@C-Lacerda Is this issue resolved, did you follow the suggestion made and can we close it?

[2022-01-24 13:06] #213 closed

[2022-01-24 13:25] #246 closed

[2022-01-24 14:37] suhel1612 commented on #203
Yes please

Sent from my iPhone

[2022-01-24 14:37] suhel1612 commented on #214
Yes please

Sent from my iPhone

[2022-01-24 15:47] #203 closed

[2022-01-24 17:53] nek4life commented on #240
Yup, there documentation is wrong and there are only one set of IPs and not a set of IPs per sandbox

[2022-01-24 17:53] #240 closed

[2022-01-24 19:10] C-Lacerda commented on #199
Yes, it was a wrong staging URL.

Cassio Lacerda | ArganoUV

Digital Architect

+55 (51) 99223-7223 | weareuv.com<https://weareuv.com/>

***@***.*** | LinkedIn<https://www.linkedin.com/company/wearearganouv/>

We are Argano<https://www.argano.com/>

We build the Digital Foundations that make businesses run better
________________________________
From: Tobias Lohr ***@***.***>
Sent: Monday, January

[2022-01-25 07:46] DenyVeyten commented on #180
@tobiaslohr Our use case is to get service credentials from a testing environment for a new sandbox setup automation.

We store useful/test data in code repo so it's easy to use it for a new sandbox setup with upload/import, but all service credentials/assignments are currently imported to sandbox manually from testing env.

I thought we can automate it with sfcc-ci, but now I see that we have to

[2022-01-25 09:35] DenyVeyten opened #280 "2.9.0 updated node-fetch"
Looks like after updating from 2.8.0 to 2.9.0 this error pops up with the usage of JS API:
![image](https://user-images.githubusercontent.com/11442834/150950137-3b29f9c3-c548-44ef-b7e8-40401f43b3dc.png)

Node version: v16.13.1

[2022-01-25 11:25] tobiaslohr commented on #199
thanks @C-Lacerda

[2022-01-25 11:25] #199 closed

[2022-01-28 07:20] johnboxall commented on #265
WIP here: https://github.com/johnboxall/sfcc-ci/tree/fix-slas

[2022-01-28 23:15] johnboxall opened #283 "Add SLAS `setup` command"
When you're first setting up SLAS for use with PWA Kit (or another headless storefront) it might be nice if there was a fast path "setup" (or similar) command that asked you for the minimal amount of information needed to get started.

It might work something like this:

[code]

Answering this way would create a tenant like this:

[code]

And a client like this:

[code]

Where `clientId` is a gene

[2022-01-29 06:45] hnestmann commented on #283
This is a great idea

[2022-02-03 08:50] #280 closed

[2022-02-03 09:00] tobiaslohr opened #288 "Test coverage for slas commands"
#270 has introduced as breaking change as we've upgraded to a new major version of node-fetch. This caused slas commands to fail, reported in #280. A fix has been provided as part of #285. However, we should add unit tests and CLI functional tests to have some safeguards in place.

[2022-02-03 09:01] tobiaslohr commented on #288
@hnestmann @johnboxall @jbachelet Any thoughts from your side?

[2022-02-03 09:50] hnestmann commented on #288
Yes I am fully on board to increase test coverage. Howeber - would unit tests help if dependencies change? Maybe we should think about integration tests with github actions or the like

[2022-02-03 10:16] tobiaslohr commented on #288
True for this particular issue. Having a CLI based test would have caught
it however.

On Thu, Feb 3, 2022 at 10:50 AM Holger Nestmann ***@***.***>
wrote:

[2022-02-03 10:21] hnestmann commented on #288
I will add unit tests for sure though.

[2022-02-03 11:45] tobiaslohr commented on #280
This is available in patch https://github.com/SalesforceCommerceCloud/sfcc-ci/releases/tag/v2.9.1

[2022-02-07 21:37] HeidiRechek opened #289 "Validation of data on import:instance command"
We do build automation using sfcc-ci commands. We are importing the sfra-data.zip for smoke tests, the OCAPI settings get updated with version updates and it breaks our smoke tests. Can we improve the output of the import:instance so we can use the validation to fail builds?

sfcc-ci import:Instance -i ****  output shows this

Waiting for job to finish...

Job "sfcc-site-archive-import" finished.

[2022-02-09 17:52] EvilJordan opened #290 "v2.9.1: Cannot find module 'colors'"
After successful install via: `npm install -g`:
[code]

[2022-02-10 12:02] tobiaslohr commented on #290
hi @EvilJordan , tried to reproduce this:

[code]

which succeeds here. Any detailed info you share to reproduce this?

[2022-02-10 14:20] tobiaslohr commented on #283
Thanks for suggesting @johnboxall ! I like the approach for adding meaningful interactive commands like this one. Do you happen to have a PR for this at that time? 😄

[2022-02-10 15:53] clavery commented on #135
`got` (like all of Sindre's packages nowadays) is ESM only in the current version. Given that sfcc-ci is commonjs at the moment that adds some friction since you can't do a simple `require`.

I find axios (https://www.npmjs.com/package/axios) works fine for OCAPI, webdav (i.e. for both text and binary content). Still works fine with commonjs and is promise-native. So if we ever want to drop suppor

[2022-02-10 20:21] nickpalmigiano commented on #135
`axios` seems like a more straightforward replacement since it keeps the same architecture patterns. While I like the fact that `sfcc-ci` follows similar design patterns as the storefront architecture, with `pwa-kit` this is less important. Since `sfcc-ci` is used by many different environment combinations I would consider node version compatibility important. Either `got` or `axios` would work si

[2022-02-11 12:42] tobiaslohr commented on #266
Thanks much for looking into this @jbachelet! Please have a look @vkusok if this fixes your issue on Windows.

[2022-02-11 21:08] EvilJordan commented on #290
Hmmm, I am now getting respectable build results by doing the following:

[code]
However, `which sfcc-ci` is pointing to `/opt/local/bin/sfcc-ci`, which in turn is a symlink to: `sfcc-ci@ -> ../lib/node_modules/sfcc-ci/cli.js` which in turn is: `sfcc-ci@ -> ../../../../Users/eviljordan/dev/sfra/sfcc-ci` (the directory where everything was just built).

Running `sfcc-ci -V` outputs `2.7.2`, and I'm

[2022-02-15 08:49] isobaroperations opened #294 "."

[2022-02-15 09:00] fy2sysnotify opened #295 ""user:create" - "TypeError: Cannot red property 'split' of null""
I am getting "TypeError: Cannot red property 'split' of null" upon "user:create" operation. **The user is created, no problem at that part**. Just the return message is indicating some kind of a problem.
OS - Ubuntu Desktop 20.04.03 (installed on VirtualBox 6.1.32)
sfcc-ci - 2.9.1
node - 14.17.3 (installed with nvm)
![userCreate](https://user-images.githubusercontent.com/90276806/154026541-ab7b37e

[2022-02-15 09:22] #294 closed

[2022-02-15 09:30] tobiaslohr commented on #294
Duplicate of #295

[2022-02-15 09:31] tobiaslohr commented on #295
Thanks for raising! @fy2sysnotify please review https://github.com/SalesforceCommerceCloud/sfcc-ci/pull/296

[2022-02-15 10:04] #266 closed

[2022-02-15 10:07] #295 closed

[2022-02-15 10:15] tobiaslohr commented on #290
@EvilJordan thanks! That seems to explain, why the error is thrown as it's using an older CLI version. Were you able to check, why it is using the older version although you just cloned from the repo using the default branch master? You can double check, by `cd` into the directory you just cloned into and then run
[code]
If `which sfcc-ci` is pointing to an older version, you can also try running

[2022-02-16 05:02] mani762 opened #297 "statusCode: 400, body: { error_description: 'Resource owner authentication failed', error: 'invalid_grant' } } } Error: Authentication failed: Resource owner authentication failed"
We are failing to upload our artifacts to all Env , please look this in priority. This is blocking our release activity. Please more logs: statusCode: 400, body: { error_description: 'Resource owner authentication failed', error: 'invalid_grant' } } } Error: Authentication failed: Resource owner authentication failed

[2022-02-23 04:21] shivaOfficial98 opened #299 "sfcc-ci local issuer certificate issue."
Hi,

I've imported .p12 certificate to personal & trusted root certification authorities folder and mentioned client Id & secret, username, password in dw.json.

When try to authenticate using command `sfcc-ci client:auth` . I'm facing the local issuer certificate issue as below attached image.

![image](https://user-images.githubusercontent.com/45304912/155261081-46074022-f1e7-46d3-b568-eece45aa6

[2022-02-23 08:53] JulioFERRANDIS opened #300 "User creation fails on windows"
After authentification, through windows client, the user creation on account manager fails
the --org parameter seems not to be recognized

D:\Sources\Connecteur SFCC\2.6>sfcc-ci-win user:create --org 'Celine S.A.' --login 'johnny.begoode@celine.fr' --user '{"firstName":"Johnny", "lastName":"BeGoode", "roles": ["bm-user"]}'
Error: Ambiguous options. Pass either -o,--org or -i,--instance.

[2022-02-25 12:44] tobiaslohr commented on #300
@JulioFERRANDIS Thanks for raising. We have seen users reporting this issue before. The error is thrown for the case the CLI did not get an org OR an instance passed or if both are passed at the same time. Since you are not passing an instance, I think the CLI does not recognise the org you are passing. Since you are on Windows my first guess is, that the way how parameters are passed into the CLI

[2022-02-25 12:51] JulioFERRANDIS commented on #300
Hello
I made the test with cyril Pierron and i saw the issue too
I'm not sure to understand exactly what you expect from me. What do you mean by Can you double check, that --parametername parametervalue is the way to do that?

when i launch a sfcc-ci user:create --help, i'm told that a --org parameter is expected.
C:\Users\adm-ferrj>sfcc-ci user:create --help
Usage: user:create [options]

Create a

[2022-02-25 12:56] tobiaslohr commented on #299
HI @shivaOfficial98, can you try setting the env var NODE_EXTRA_CA_CERTS and pointing to your trusted CA cert as described at: https://nodejs.org/api/cli.html#node_extra_ca_certsfile?

[2022-02-25 13:05] tobiaslohr commented on #300
@JulioFERRANDIS and still the question is, whether on Windows and in the terminal you use, the CLI receives the values. I strongly believe it is not, hence raising that question.

Just to double check:

What is the output you are seeing for `sfcc-ci --version`?

[2022-03-04 08:39] JulioFERRANDIS commented on #300
C:\Users\adm-ferrj>sfcc-ci --version
2.9.1

C:\Users\adm-ferrj>

[2022-03-10 06:27] pavelkukov opened #304 "SLAS commands not available in the latest release 2.9.1"
I'm reporting two issues:
1. SLAS commands are not available in version 2.9.1.
2. Also, a wrong version is reported from the module's `--version` command.
I've installed version 2.9.1 but `sfcc-ci -V` reports 2.6.0
See:

![image](https://user-images.githubusercontent.com/1914217/157602118-729c56cc-099e-4fc9-8e1c-ee48c7d2069e.png)

[2022-03-23 02:30] nickpalmigiano commented on #289
@HeidiRechek There is the `--failfast` flag that you can use for `instance:import`. It only works with the `--sync` flag but you do get the correct exit code if the import fails.

[2022-04-07 13:16] mhoinaru-gpsw opened #305 "sandbox:create equivalent in Javascript API is missing?"
I noticed there is a sandbox:create CLI command, but I cannot find the equivalent in the Javascript API.

[2022-04-14 07:26] tobiaslohr commented on #305
@mhoinaru-gpsw Thanks for opening. You are right, the JS API does not cover all of the functionalities exposed via the CLI commands. The tool has a primary focus on the CLI and therefore the JS API is secondary and thus does not cover all of the functionalities.

[2022-04-14 07:26] #305 closed

[2022-04-22 13:19] stm-dschulz opened #306 "SLAS - slas:client:add - clientid parameter handling broken"
I tried to add a SLAS client and discovered that there is a typo that breaks the parameter handling.

https://github.com/SalesforceCommerceCloud/sfcc-ci/blob/179a6f6f9cd98033c95c388a8c25a59ccbb98952/lib/slas.js#L246

typo: clien**d**Id

**Steps to reproduce:**
- Auth sfcc-ci
- Attempt to list clients: `sfcc-ci slas:client:add --shortcode <a shortcode> --tenant <a tenant> --clientid <a clientid>`

[2022-04-28 00:12] rsexton404 opened #307 "SLAS Add Client: --tenant option ignored"
A user reported an issue to support (see [Slack thread](https://salesforce-internal.slack.com/archives/C01GLHLBPT5/p1649253829074259)) where they were getting the following error message when adding a SLAS client:

Although the `--tenant` option was provided, the tool seems to be expecting the tenant ID to come from an environment variable. If the environment variable is needed and it is not set,

[2022-04-30 03:16] clavery commented on #304
@pavelkukov I think the case here is that you have two versions installed. Your globally installed version is being executed over your npm installed version.

If you execute `where sfcc-ci` that might give more information on where it's installed. Perhaps you used the prebuilt binary install method originally as documented in the readme. That version may be 2.6.0

[2022-04-30 06:07] pavelkukov commented on #304
Thank you @clavery ! Indeed something like that has happened.
I've deleted npm & npm cache and started working correctly. Maybe I had multiple versions due to nvm.

[2022-04-30 06:07] #304 closed

[2022-05-05 03:46] clavery commented on #307
It would help to get a test of this with the *latest* version. I am not able to replicate

[2022-05-05 04:52] #306 closed

[2022-05-05 17:50] clavery opened #309 "Feature: add github issue templates"
Github issue templates for Bugs/Help will help collect relevant environment information so we don't have to ask those questions.

Will open a PR

[2022-05-25 16:04] kshehadeh opened #312 "Created a DefinitelyTyped type definition for sfcc-ci"
Checking in here to see if there is anyone willing to take a look at https://github.com/DefinitelyTyped/DefinitelyTyped/pull/60517 as a simplistic typescript definition file for sfcc-ci.  Also wondering, if it's acceptable, whether it would make sense to mention its existence in the sfcc-ci README.

[2022-05-31 06:49] ashwanik-github commented on #88
Yeah. We are also having a similar issue during fetching of access_token on the AM API - https://account.demandware.com/dw/oauth2/access_token
Response:  401 Unauthorized
`{
    "error_description": "Client authentication failed",
    "error": "invalid_client"
}`

Since we have enabled the Salesforce Authenticator for 2FA/MFA the API calls (below using the curl) fail to fetch the token.
`curl -X P

[2022-06-05 03:38] DenyVeyten commented on #245
+1 for resolving this issue, in our use case during local development we use JS API scripts whenever possible, but `instance:export` is not supported (another enhancement to report 😄), so we have to use `client:auth` that inevitably uses user from dw.json.
@tobiaslohr could you consider backward compatible change like the additional flag mentioned, to release it for 2.x version?

[2022-06-08 12:52] tobiaslohr commented on #88
`invalid_client` and `invalid_token` are different things, the way how the CLI obtains token through the resource owner password credentials grant is documented through the code as you probably know. There is nothing the CLI explicitly makes use of to trigger MFA. Usually this is specified by the MFA method the user / primary org of the user has set.

If the curl is correct or not, I cannot tell.

[2022-06-13 21:22] denis-merkle opened #314 "Which version of NodeJS and npm do you recommend to use?"
Hi, i am just trying to set up an environment for Commerce Cloud development.
And during installation of this package i have a lot of warnings and errors like:

npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm WARN old lockfile
npm WARN old lockfile The package-lock.json file was created with an old version of npm,
npm WARN old lockfile so supplemen

[2022-06-23 09:26] tobiaslohr commented on #300
Hi @JulioFERRANDIS, unfortunately not. I personally have no Windows machine here and cannot test (and reproduce) therefore. I can only tell you (as I'm on a Mac) that it works on other OS's terminals, so I was assuming it's something related to the Windows terminal and how it gets arguments and options passed.

[2022-06-23 09:27] JulioFERRANDIS commented on #300
Can't you (salesforce) find a windows envirionment ?
what i can tell you si that cli doesn't work for me at all, so it's useless

[2022-06-23 09:44] tobiaslohr commented on #300
Sorry to hear that the CLI is useless for you under Windows. I can understand your frustration.

This tool is moderated, managed and evolved by the Salesforce Commerce Cloud community, incl. partners and customers. While there are people from Salesforce (including myself) working on and with the tool, this is not a Salesforce product and there is no guarantee that things work on every OS and in ev

[2022-06-23 12:12] tobiaslohr commented on #300
@JulioFERRANDIS I've asked in our community slack on your behalf, see https://sfcc-unofficial.slack.com/archives/CAUFG3SHF/p1655978490438169?thread_ts=1655977614.103509&cid=CAUFG3SHF

Did you try that?

[2022-06-23 13:36] matthewrose commented on #300
@JulioFERRANDIS Also you will need to escape the double quotes in the JSON string with a `\` like so `\"`

[2022-06-27 13:37] clstopher commented on #314
I think this isn't so much an sfcc-ci question as it is a question for SFRA and other plugins / cartridges / etc.

As of right now, SFRA uses an older version of node-sass that is only documented to work with node 12; You can see here that SFRA is using 12.21 for their own testing: https://github.com/SalesforceCommerceCloud/storefront-reference-architecture/blob/master/.circleci/config.yml#L9

[2022-06-29 13:23] sh-si commented on #300
would be great to get an update here @JulioFERRANDIS

[2022-06-29 13:31] JulioFERRANDIS commented on #300
Hello
I could manage it. Thanks a lot for the tips

my remaining issue concerns authentification. I currently need to pass through salesforce  authentificator but as i use a service account it's not possible to use it.
We can close this topic

[2022-06-30 13:52] #300 closed

[2022-07-06 20:40] irobotbfealy opened #315 "HELP Needed:SFCC-CI code:deploy fails when adding the archive file to the command line"
I'm trying to run sfcc-ci to do a code:deploy.  I've tried running the command line in various formats, but have found that whenever I add an archive file name -- no matter how it's decorated (full path, file name only, with and without quotes in both cases, etc) the command line is failing whenever an archive is present with a type mismatch.

Any suggestions would be appreciated, the logs below a

[2022-07-06 20:42] irobotbfealy commented on #315
I've redacted our instance name in the above examples, but do have it fully specified out in the demandware.net format for the specific system I'm using.

[2022-07-12 02:45] clavery commented on #315
Hi @irobotbfealy

This would generally occur because you have not performed any authentication step yet. `sfcc-ci` does not implicitly authenticate when running a command like `code:deploy`. So you'll want to start with an `sfcc-ci auth:login` or a `sfcc-ci client:auth`. Since this appears to be a CI/CD situation and you mentioned you are setting client ID and secret environment variables you shou

[2022-07-12 02:53] clavery commented on #312
@kshehadeh  It might make sense if you contributed them directly to this repo via PR and added to package.json "types" property. That's the preferred method for adding types to a project anyway.

[2022-08-01 19:53] irobotbfealy commented on #315
Thanks, that resolved the first set of issues, much appreciate the help.

[2022-08-01 19:53] #315 closed

[2022-08-01 19:59] irobotbfealy opened #320 "Problem when unzipping error 500, logs show "directory not empty" error for new codeversion"
Hello -- I'm uploading a zip file I created with my new build. I've got the file created with what appears to be the correct file/folder structure, and have it pulling in all the right cartridge folders etc... when I upload, I get an error 500 from sfcc-ci and the SF logs show me:
ERROR WebDAVServlet|1016032764|Sites|-|/Sites/cartridges/20220801-DEV-149.zip com.demandware.beehive.core.capi.file.Mu

[2022-08-04 16:41] clavery commented on #320
@irobotbfealy This is strange and not really anything causes by `sfcc-ci` (because there's not much it can do about a 500 from the server).

I'm curious how you create this zip (i.e. the zip tool/commands you use). I have not seen issues when extracting zip files to existing directory structures in WebDAV so I'm wondering if there is something strange about the zip structure here that is is throwi

[2022-08-04 17:24] irobotbfealy commented on #320
@clavery I'm using a powershell script that is moving through our source tree after the build process completes and pulling in any folder (and all contents) if the parent folder contains a .project file, which appeared to be the method of choice and mimics what we'd seen in other places as the preferred way to create the file for upload -- the contents appeared to be the same as what was present o

[2022-08-04 20:05] clavery commented on #320
@irobotbfealy I'm curious are you using `Compress-Archive` in powershell to create the zip files? There's been a number of issues in the past with archives created using that that do not work properly on unix systems (this is older but googling can give you others https://github.com/PowerShell/PowerShell/issues/3590). That may be the source of the issue.

If you are using that and If there's a way

[2022-08-05 13:27] irobotbfealy commented on #320
@clavery I am using Compress-Archive -- and after changing over to the 7Zip Portable, it seems the zip file is now acceptable for the back end.  That's something I most definitely would not have expected, thank you SO MUCH for the tip.

[2022-08-05 13:27] #320 closed

[2022-08-05 15:27] #83 closed

[2022-08-09 14:09] irobotbfealy commented on #320
@clavery Thank you that solved the problem, I ended up changing over to 7Zip Portable edition and the zip now uploads and activates correctly.  Many thanks for the pointer to this particular little bug!

[2022-08-22 09:11] Timi96 opened #321 "Running `npx sfcc-ci code:deploy` results in "The requested URL was not found on this server""
I am on WINDOWS and seem to be the only one of my colleagues who face this issue when running `npx sfcc-ci code:deploy`
The `/` at the start of `WEBDAV_BASE` string leads to the below REQUEST object:

REQUEST {
  baseUrl: 'https://*****.sandbox.us01.dx.commercecloud.salesforce.com',
  uri: '\\on\\demandware.servlet\\webdav\\Sites\\cartridges\\version1.zip',
  auth: { bearer: 'aY_TPqnkH19VOy-8AnyLm

[2022-09-01 16:11] NicoloMenandroDiana opened #323 "Error on code:deploy with JWT token type"
Hello,

I've changed my client API from UUID to JWT due to the SalesForce communication regarding the UUID future deprecation.

Once done, all works fine except the code:deploy command that gives me this error:
_Error: WebDAV authentication failed. Please (re-)authenticate first by running ´sfcc-ci auth:login´ or ´sfcc-ci client:auth´. No token auto-renewal is performed. If the problem still occur

[2022-09-02 12:58] #309 closed

[2022-09-02 13:36] tobiaslohr commented on #323
Hi @NicoloMenandroDiana, this error is expected and known. Salesforce is working on a solution to this.

The underlying reason for this is, that with certain auth grants (`sfcc-ci auth:login` and `sfcc-ci client:login <client> <secret> <user> <user_password>`) being used to login and obtain the access tokens, commands executed against B2C Commerce instances implemented via OCAPI Data API or WebDAV

[2022-09-02 13:36] #323 closed

[2022-09-02 13:46] tobiaslohr commented on #321
Thanks for raising @Timi96! Quick question: concatenating the baseUrl and the uri from the request details above would end up to https://*****.sandbox.us01.dx.commercecloud.salesforce.com\on\demandware.servlet\webdav\Sites\cartridges\version1.zip.

Do you make sure, not to pass `--instance` with a trailing `/` in the value?

[2022-09-02 13:49] tobiaslohr commented on #314
Thanks for replying on that @clstopher!

@denis-merkle would you mind opening an issue at https://github.com/SalesforceCommerceCloud/storefront-reference-architecture/issues?

[2022-09-02 13:57] tobiaslohr commented on #299
Hi @shivaOfficial98, were you able to resolve the issue as described through the above comment? Please let us know and we can close this. Thanks!

[2022-09-02 14:07] tobiaslohr commented on #297
@mani762 Did the above help you to resolve your issue and can we close this?

[2022-09-04 10:53] danechitoaie commented on #323
@tobiaslohr is this a Salesforce issue or a SFCC-CI issue?

Switching to JWT seems to be working ok for https://plugins.jenkins.io/osf-builder-suite-for-sfcc-deploy/
And with Postman as well:

1)
[code]
2)
[code]

[2022-09-05 07:25] NicoloMenandroDiana commented on #323
Thank you @tobiaslohr for your help.

I've switched back to UUID format as you suggested.

Best Regards,
NM

[2022-09-15 08:15] tobiaslohr commented on #323
Here is also a wiki page which should help to understand this: https://github.com/SalesforceCommerceCloud/sfcc-ci/wiki/Token-format-change-from-UUID-to-JWT

[2022-09-21 17:25] vruikar-desoto opened #327 "Stage upload fails with sslv3 alert handshake failure"
### sfcc-ci Version

2.8.0

### NodeJS Version

_No response_

### sfcc-ci Path

_No response_

### Host OS Details

_No response_

### What happened?

We have been using sfcc-ci version 2.6.0 which was breaking because of res null check.
_/var/lib/jenkins/workspace/Staging Build v2/node_modules/sfcc-ci/lib/webdav.js:211
            if (res.statusCode >= 400) {
                    ^
TypeError: Can

[2022-10-03 14:02] ketan9190 opened #329 "New feature Request- Add capability to reset user and revoke verifiers"
New feature Request- Add capability to reset user and revoke verifiers

[2022-10-06 00:59] jiahuichen93 commented on #142
could you please share how did you resolve this error?

[2022-10-06 07:41] tobiaslohr commented on #142
@jiahuichen93 In most of the case a re-generation of the client cert has solved this problem. Please make sure, you are using the right cert bundle for the client cert generation. If you are unsure, you can always request the current cert bundle by opening a Salesforce Support Case.

[2022-10-10 13:27] irobotbfealy opened #331 "HELP: Automated build system script firing Authenticator app even when using certificate for 2FA"
### sfcc-ci Version

2.9.1

### NodeJS Version

8

### sfcc-ci Path

_No response_

### Host OS Details

Bamboo build agent on Windows 10

### What happened?

Running the client:auth, code:deploy and code:activate steps using a client ID/Secret combo, and a certificate/Passphrase for 2FA, yet the Authenticator app still fires requiring human interaction when deploying into our Staging environment.

[2022-10-31 13:15] lisunovdv opened #334 "Problems with Snyk on CI"
### sfcc-ci Version

2.9.1

### NodeJS Version

16.18.0

### sfcc-ci Path

/opt/hostedtoolcache/node/16.18.0/x64/lib/node_modules/sfcc-ci

### Host OS Details

Pool: Azure Pipelines
Image: ubuntu-20.04
Agent: Hosted Agent

### Description

`npm install -g sfcc-ci` fails on CI with error:

[code]

## Temporary solution/workaround

`npm install -g --ignore-scripts sfcc-ci`

### Relevant log output

[2022-11-16 10:36] tobiaslohr commented on #331
Hi @irobotbfealy, it appears that through authentication:
```node.exe .\node_modules\sfcc-ci\cli.js client:auth $clientID $clientSecret $clientUsername $clientPassword```
You are authenticating not just with client credentials but also with user credentials. As a consequence, the MFA settings of the user and his primary org are being used through the authentication process and as a result the user

[2022-11-16 10:38] tobiaslohr commented on #329
Fixed by #330

[2022-11-16 10:39] #329 closed

[2022-11-16 10:42] tobiaslohr commented on #327
@vruikar-desoto Can you provide the command that is failing and against which env (staging, development, sandbox)? Did you run with `--debug` mode to capture more verbose logging?

[2022-11-16 10:43] tobiaslohr commented on #202
@suhel1612 Any final thoughts on the ticket you created or can we close this?

[2022-11-16 10:44] tobiaslohr commented on #205
@drodriguez-crocs Quick checkin: were you able to resolve this and can we close this ticket?

[2022-11-16 10:45] tobiaslohr commented on #208
@mukul-kulshrestha Quick check-in: were you able to resolve the issue and can we close the ticket?

[2022-11-16 10:53] suhel1612 commented on #202
hi,
the ticket can be closed.... thnx

On Wed, Nov 16, 2022 at 10:43 AM Tobias Lohr ***@***.***>
wrote:

[2022-11-16 10:55] #202 closed

[2022-11-17 00:57] vvratnas opened #335 "With the recent commit which happened 8 hours ago on Nov 16 2022 in master branch, our builds are failing."
### sfcc-ci Version

2.9.1

### NodeJS Version

10.24.0

### sfcc-ci Path

_No response_

### Host OS Details

_No response_

### What happened?

In the console output, we are seeing below error:
npm ERR! prepareGitDep 1>
npm ERR! prepareGitDep > sfcc-ci@2.9.1 prepare /home/svcjenkins/.npm/_cacache/tmp/git-clone-bb1583c7
npm ERR! prepareGitDep > npm run snyk-protect
npm ERR! prepareGitDep
npm ERR!

[2022-11-17 03:52] clavery commented on #335
Hi @vvratnas. It seems a couple things may be happening here.

1. You seem to be installing `sfcc-ci` via a git dependency. That is, instead of the published version at npm: https://www.npmjs.com/package/sfcc-ci
2. Given changes from today certain packages are updated that are not supported by your version of node (`10.24.0` which is a very old version).

I recommend one of two things:

1. Install

[2022-11-17 20:05] tobiaslohr commented on #197
@mganoo Thanks for raising this. With https://github.com/SalesforceCommerceCloud/sfcc-ci/pull/336 we have enhanced the user management related commands (`sfcc-ci user:list`) to return the last login date per user. For the creation date the data is unfortunately not (yet) available via the respective APIs.

However, you've mentioned already the user history (audit records in Account Manager to be p

[2022-11-17 20:13] mganoo commented on #197
Hello,

I appreciate you getting back to me on this.

The purpose of the ask was auditor wants to see a screen that can show them
the date of creation for the user.
So they can pick a handful of users from the current year and ask me
for the details, like the ticket number approved by the manager to create
the login etc.
Not sure why it can't be shown on the following screen

[image: image.png]

I